@import "../../assets/stylesheets/core";

.video-card {
  max-width: 100%;
  width: 100%;
  margin-top: 3rem;

  @include media-breakpoint-up(md) {
    max-width: 21rem;
    padding: 0 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    max-width: 23rem;
    padding: 0 1.5rem;
    margin-top: 3.5rem;
  }
}

.video-frame {
  padding: 0 0.75rem;
  height: 100%;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-up(md) {
    height: 9.25rem;
  }

  @include media-breakpoint-up(lg) {
    height: 10.5rem;
  }

  iframe {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
  }
}

.video-details {
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 4.75rem 1rem 1rem;
  margin-top: -4rem;
  flex: 1;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);

  > a {
    color: #020449;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-decoration: none;

    @include media-breakpoint-up(lg) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333333;
    font-weight: 500;

    @include media-breakpoint-up(lg) {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
