/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.btn.default-btn {
  background-color: #000000;
  border-radius: 0;
  border-left: 17px solid #e86055;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: auto;
  min-width: 7.6875rem; }
  .btn.default-btn a {
    font-size: 0.9375rem;
    line-height: 1rem;
    color: #fff;
    text-decoration: none; }
    .btn.default-btn a > img {
      vertical-align: middle;
      width: 1.375rem;
      height: auto; }
  .btn.default-btn.active, .btn.default-btn:active, .btn.default-btn:hover, .btn.default-btn:focus {
    background-color: #000000;
    border-left: 17px solid #e86055;
    border-top: none;
    border-bottom: none;
    border-right: none;
    box-shadow: none;
    outline: none; }

.btn.default-btn:not(:disabled):not(.disabled):active:focus,
.btn.default-btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.default-btn.dropdown-toggle:focus {
  background-color: #000000;
  border-left: 17px solid #e86055;
  border-top: none;
  border-bottom: none;
  border-right: none;
  box-shadow: none;
  outline: none; }

.default-btn-link:hover {
  text-decoration: none;
  outline: none; }
