@import "../../assets/stylesheets/core";

.industry-type-section {
  background: url("../../assets/images/revampImages/industry-type-bg@2x.png")
    no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top right;
  height: 34.75rem;
  padding: 2.5rem 0 0;

  @include media-breakpoint-up(lg) {
    height: 43.75rem;
    padding: 3.75rem 0 3.75rem 4.5rem;
  }
}

.industry-type-heading {
  font-size: 2rem;
  line-height: 2.3125rem;
  color: $gray-11;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.125rem;
    line-height: 3.75rem;
    margin-bottom: 3.75rem;
    padding: 0;
  }
}

.tiles-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    gap: 2rem;
  }
}
