/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.industry-type-section {
  background: url("../../assets/images/revampImages/industry-type-bg@2x.png") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: top right;
  height: 34.75rem;
  padding: 2.5rem 0 0; }
  @media (min-width: 992px) {
    .industry-type-section {
      height: 43.75rem;
      padding: 3.75rem 0 3.75rem 4.5rem; } }

.industry-type-heading {
  font-size: 2rem;
  line-height: 2.3125rem;
  color: #1c1c1c;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem; }
  @media (min-width: 992px) {
    .industry-type-heading {
      font-size: 3.125rem;
      line-height: 3.75rem;
      margin-bottom: 3.75rem;
      padding: 0; } }

.tiles-wrapper {
  padding: 2rem 0; }
  @media (min-width: 992px) {
    .tiles-wrapper {
      padding: 5.75rem 2rem 3.75rem; } }
  .tiles-wrapper .tiles-row {
    flex-direction: column; }
    @media (min-width: 992px) {
      .tiles-wrapper .tiles-row {
        flex-direction: row;
        margin: 0 -0.5rem; } }
    @media (min-width: 992px) {
      .tiles-wrapper .tiles-row .vertical-tiles-row,
      .tiles-wrapper .tiles-row .horizontal-tiles-row {
        padding: 0 0.5rem; } }
    .tiles-wrapper .tiles-row .horizontal-tiles-row {
      flex-direction: column; }
      @media (min-width: 992px) {
        .tiles-wrapper .tiles-row .horizontal-tiles-row .tile-card:not(:first-child) {
          margin-top: 1rem; } }
    @media (min-width: 992px) {
      .tiles-wrapper .tiles-row:not(:first-child) {
        margin-top: 1rem; } }
