footer.josh-footer.d-flex.flex-column.justify-content-end
  .container
    p.text-policy
      a(href="javascript:void(0);") View Privacy Policy
    p.text-copyright Copyright © 2007 - 2018 Josh Software Pvt. Ltd.
