#bodyTop
header.josh-header.fixed-top
  .container
    nav.navbar.navbar-expand-lg.josh-navbar
      a.navbar-brand(href='./')
        img(src=asset_url + 'images/josh-logo.png', alt='Josh Software')
      button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
        i.icon-bars
      #joshOffcanvasNavbar.navbar-collapse.offcanvas-collapse
        .navbar-nav.ml-auto
          a.nav-item.nav-link(href='innovation.html', class= (page === "Innovation") ? "active" : "") Innovation
          a.nav-item.nav-link(href='services.html', class= (page === "Services") ? "active" : "") Services
          a.nav-item.nav-link(href='technologies.html', class= (page === "Technologies") ? "active" : "") Technologies
          a.nav-item.nav-link(href='industries.html', class= (page === "Industries") ? "active" : "") Industries
          .dropdown
            a#companyDropdownMenu.nav-item.nav-link.dropdown-toggle(href='javascript:void(0);', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', class= (page === "About Us" || page === "Open Source" || page === "News" || page === "Our Team" || page === "Career" || page === "Contact Us" || page === "Testimonials") ? "active" : "") Company
            .dropdown-menu(aria-labelledby='companyDropdownMenu')
              a.dropdown-item(href='about-us.html', class= (page === "About Us") ? "active" : "") About Us
              a.dropdown-item(href='services.html#ourWork', class= (page === "Services") ? "active" : "") Our Work
              a.dropdown-item(href='open-source.html', class= (page === "Open Source") ? "active" : "") Open Source
              a.dropdown-item(href='about-us.html#news') News
              a.dropdown-item(href='team.html', class= (page === "Our Team") ? "active" : "") Our Team
              a.dropdown-item(href='testimonial.html', class= (page === "Testimonials") ? "active" : "") Testimonials
              a.dropdown-item(href='http://careers.joshsoftware.com/', class= (page === "Career") ? "active" : "") Career
              a.dropdown-item(href='contact-us.html', class= (page === "Contact Us") ? "active" : "") Contact Us
              a.dropdown-item(href='https://blog.joshsoftware.com/', target="_blank") Blog
          //- a.nav-item.nav-link.nav-offcanvas-link(href='contact-us.html', class= (page === "Contact Us") ? "active" : "") Contact Us
          //- a.nav-item.nav-link.nav-offcanvas-link(href='https://blog.joshsoftware.com/', target="_blank") Blog
