header.header-js
  .container
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav.ml-auto
          a.nav-item.nav-link.active(href='#') Innovation
          a.nav-item.nav-link(href='#') Services
          a.nav-item.nav-link(href='#') Technologies
          a.nav-item.nav-link(href='#') Industries
          a.nav-item.nav-link(href='#') Company
