@import "../../assets/stylesheets/core";

.link-item-wrap {
  .link-item {
    > a {
      &.-leadership {
        background: url("../../assets/images/revampImages/leadership-bg.png")
          no-repeat;
      }
      &.-success-story {
        background: url("../../assets/images/revampImages/success-story@2x.png")
          no-repeat;
      }

      &.-innovation {
        background: url("../../assets/images/revampImages/innovations-bg@2x.png")
          no-repeat;
      }

      &.-contact-us {
        background: url("../../assets/images/revampImages/contact-us-bg.png");
      }

      &.-technology {
        background: url("../../assets/images/revampImages/technology@2x.png");
      }
    }
  }
}
