@import "../../assets/stylesheets/core";

.story-tile-wrapper {
  padding: 1rem 0;
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

.story-tile-list {
  // background: url("../../assets/images/revampImages/success-bg-mobile.svg");
  background-color: gray;
  @include media-breakpoint-up(lg) {
    // background: url("../../assets/images/revampImages/success-bg@2x.png")
    //   no-repeat;
    // background-size: cover;
    // background-position: center;
    flex-direction: row;
    // height: 541px;
  }
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.story-tile-item {
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
    flex-direction: column;
  }
  &:first-child,
  &:last-child {
    height: 144px;
    max-height: 144px;
    @include media-breakpoint-up(lg) {
      flex: 0 0 302px;
      height: unset;
      max-height: unset;
    }
  }

  &:nth-child(2) {
    height: 236px;
    max-height: 236px;

    @include media-breakpoint-up(lg) {
      flex: 1;
      height: unset;
      max-height: unset;
    }
    .story-tile {
      @include media-breakpoint-up(lg) {
        height: unset;
        max-height: unset;
      }
    }
  }

  span {
    font-size: 1.125rem;
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: 1.75rem;
    }
  }
}

.story-tile {
  flex: 1;
  &:first-child,
  &:last-child {
    // height: 176px;
    // max-height: 176px;
    @include media-breakpoint-up(lg) {
      // flex: 0 0 302px;
      // height: 100%;
      // max-height: 100%;
    }
  }
  &:nth-child(2) {
    // height: 236px;
    // max-height: 236px;
    @include media-breakpoint-up(lg) {
      // flex: 1;
      // height: 100%;
      // max-height: 100%;
    }
  }
}
