/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.story-tile-wrapper {
  padding: 1rem 0; }
  @media (min-width: 992px) {
    .story-tile-wrapper {
      padding: 5rem 0; } }

.story-tile-list {
  background-color: gray;
  background-size: cover;
  background-position: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .story-tile-list {
      flex-direction: row;
      height: 541px; } }

.story-tile-item {
  padding: 1rem; }
  @media (min-width: 992px) {
    .story-tile-item {
      padding: 1.5rem;
      flex-direction: column; } }
  .story-tile-item:first-child, .story-tile-item:last-child {
    height: 144px;
    max-height: 144px; }
    @media (min-width: 992px) {
      .story-tile-item:first-child, .story-tile-item:last-child {
        flex: 0 0 302px;
        height: unset;
        max-height: unset; } }
  .story-tile-item:nth-child(2) {
    height: 236px;
    max-height: 236px; }
    @media (min-width: 992px) {
      .story-tile-item:nth-child(2) {
        flex: 1;
        height: unset;
        max-height: unset; } }
    @media (min-width: 992px) {
      .story-tile-item:nth-child(2) .story-tile {
        height: unset;
        max-height: unset; } }
  .story-tile-item span {
    font-size: 1.125rem;
    line-height: 1.5; }
    @media (min-width: 992px) {
      .story-tile-item span {
        font-size: 1.75rem; } }

.story-tile {
  flex: 1; }
  .story-tile img {
    width: 2rem; }
  .story-tile .story-tile-hover-wrap {
    display: none; }
    .story-tile .story-tile-hover-wrap p {
      font-size: 0.75rem; }
  @media (min-width: 992px) {
    .story-tile:hover .story-tile-hover-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px); } }
  .story-tile .link-btn::after {
    content: "";
    position: absolute;
    background-color: #e86055;
    height: 0.125rem;
    width: 50%;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; }
