@import "../../assets/stylesheets/core";

.story-tile-wrapper {
  padding: 1rem 0;
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

.story-tile-list {
  background: url("../../assets/images/revampImages/success-bg-mobile.png");
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  @include media-breakpoint-up(lg) {
    background: url("../../assets/images/revampImages/success-bg@2x.png")
      no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    height: 541px;
    border-radius: 0.75rem;
  }
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.story-tile-item {
  &:not(:first-child) {
    border-top: 0.5rem solid $white;
    @include media-breakpoint-up(lg) {
      border-top: unset;
    }
  }

  &:first-child {
    @include media-breakpoint-up(lg) {
      border-right: 0.5rem solid $white;
    }
  }
  &:last-child {
    @include media-breakpoint-up(lg) {
      border-left: 0.5rem solid $white;
    }
  }
  @include media-breakpoint-up(lg) {
    flex-direction: column;
  }
  &:first-child,
  &:last-child {
    height: 144px;
    max-height: 144px;
    @include media-breakpoint-up(lg) {
      flex: 0 0 302px;
      height: unset;
      max-height: unset;
    }
  }

  &:nth-child(2) {
    height: 18rem;
    max-height: 18rem;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex: 1;
      height: unset;
      max-height: unset;
      border-left: 0.5rem solid $white;
      border-right: 0.5rem solid $white;
    }
    .story-tile {
      &:first-child {
        border-bottom: 0.5rem solid $white;
        @include media-breakpoint-up(lg) {
          border-bottom: 1rem solid $white;
        }
      }
    }
  }

  span {
    font-size: 1.125rem;
    line-height: 1.5;
    @include media-breakpoint-up(lg) {
      font-size: 1.75rem;
    }
  }
}

.story-tile {
  flex: 1;
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }
  img {
    width: 2rem;
    height: 2rem;
  }
  .story-tile-hover-wrap {
    display: none;

    p {
      font-size: 0.75rem;
    }
  }
  &:hover {
    .story-tile-hover-wrap {
      display: flex;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      padding: 1.5rem;
    }
  }

  .link-btn {
    &::after {
      content: "";
      position: absolute;
      background-color: #e86055;
      height: 0.125rem;
      width: 100%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
}
