/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.story-tile-wrapper {
  padding: 1rem 0; }
  @media (min-width: 992px) {
    .story-tile-wrapper {
      padding: 5rem 0; } }

.story-tile-list {
  background: url("../../assets/images/revampImages/success-bg-mobile.png");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .story-tile-list {
      background: url("../../assets/images/revampImages/success-bg@2x.png") no-repeat;
      background-size: cover;
      background-position: center;
      flex-direction: row;
      height: 541px; } }

.story-tile-item:not(:first-child) {
  border-top: 0.5rem solid #fff; }
  @media (min-width: 992px) {
    .story-tile-item:not(:first-child) {
      border-top: unset; } }

@media (min-width: 992px) {
  .story-tile-item:first-child {
    border-right: 0.5rem solid #fff; } }

@media (min-width: 992px) {
  .story-tile-item:last-child {
    border-left: 0.5rem solid #fff; } }

@media (min-width: 992px) {
  .story-tile-item {
    flex-direction: column; } }

.story-tile-item:first-child, .story-tile-item:last-child {
  height: 144px;
  max-height: 144px; }
  @media (min-width: 992px) {
    .story-tile-item:first-child, .story-tile-item:last-child {
      flex: 0 0 302px;
      height: unset;
      max-height: unset; } }

.story-tile-item:nth-child(2) {
  height: 18rem;
  max-height: 18rem;
  flex-direction: column; }
  @media (min-width: 992px) {
    .story-tile-item:nth-child(2) {
      flex: 1;
      height: unset;
      max-height: unset;
      border-left: 0.5rem solid #fff;
      border-right: 0.5rem solid #fff; } }
  .story-tile-item:nth-child(2) .story-tile:first-child {
    border-bottom: 0.5rem solid #fff; }
    @media (min-width: 992px) {
      .story-tile-item:nth-child(2) .story-tile:first-child {
        border-bottom: 1rem solid #fff; } }

.story-tile-item span {
  font-size: 1.125rem;
  line-height: 1.5; }
  @media (min-width: 992px) {
    .story-tile-item span {
      font-size: 1.75rem; } }

.story-tile {
  flex: 1;
  width: 100%; }
  @media (min-width: 992px) {
    .story-tile {
      padding: 1.5rem; } }
  .story-tile img {
    width: 2rem;
    height: 2rem; }
  .story-tile .story-tile-hover-wrap {
    display: none; }
    .story-tile .story-tile-hover-wrap p {
      font-size: 0.75rem; }
  .story-tile:hover .story-tile-hover-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 1.5rem; }
  .story-tile .link-btn::after {
    content: "";
    position: absolute;
    background-color: #e86055;
    height: 0.125rem;
    width: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; }
