%p
  Hi,
%p
  Received a enquiry from Josh site. 
  Details are:
%p 
  Name: #{@contact.name}
  %br  
  Email: #{@contact.email}
  %br  
  Phone: #{@contact.phone}
  %br  
  Message: #{@contact.message}
%p
  Thank You.
