/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.contact-us-section {
  background: url("../../assets/images/revampImages/contact-us-bg@2x.jpeg") no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column; }
  @media (min-width: 992px) {
    .contact-us-section {
      background-position: center;
      flex-direction: row;
      align-items: center;
      padding: 4.25rem 0; } }

.contact-form-content {
  padding: 0 0.5rem; }
  @media (min-width: 992px) {
    .contact-form-content {
      flex: 0 0 60%;
      max-width: 34.625rem;
      margin: 0 auto; } }
  .contact-form-content h3 {
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center; }
    @media (min-width: 992px) {
      .contact-form-content h3 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 3.5rem;
        text-align: left; } }
  .contact-form-content .hello-text-box {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #fff; }
    .contact-form-content .hello-text-box > img {
      width: 1.625rem;
      height: 100%;
      vertical-align: text-bottom; }
    @media (min-width: 992px) {
      .contact-form-content .hello-text-box {
        margin-bottom: 3.75rem; } }

.contact-form-wrap .form-group {
  margin-bottom: 2rem; }
  @media (min-width: 992px) {
    .contact-form-wrap .form-group {
      margin-bottom: 0.5rem; } }
  .contact-form-wrap .form-group label,
  .contact-form-wrap .form-group .form-control {
    font-size: 0.875rem;
    line-height: 1.375rem; }
  .contact-form-wrap .form-group label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #8e8e8e; }
    .contact-form-wrap .form-group label::before {
      content: "";
      position: absolute;
      left: -0.75rem;
      top: 0.625rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #1270a8;
      border-radius: 50%; }
      @media (min-width: 992px) {
        .contact-form-wrap .form-group label::before {
          left: -1rem; } }
  .contact-form-wrap .form-group .form-control {
    background-color: transparent;
    border-bottom: 1px solid #283755;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    padding: 0.5rem 0;
    height: auto;
    color: #fff; }
    @media (min-width: 992px) {
      .contact-form-wrap .form-group .form-control {
        font-size: 2.25rem;
        line-height: 1.9375rem;
        border-bottom: 4px solid transparent; } }
    .contact-form-wrap .form-group .form-control:focus {
      box-shadow: unset;
      border-color: #283755;
      background-color: transparent; }
    .contact-form-wrap .form-group .form-control:focus + label, .contact-form-wrap .form-group .form-control:valid + label {
      transition: 0.2s ease-in-out;
      top: -1rem; }

.form-group.select-field label {
  position: unset; }

.form-group.select-field .form-select-field {
  background-color: transparent;
  border: 1px solid #283755;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.375rem; }
  .form-group.select-field .form-select-field:focus {
    box-shadow: unset; }

@media (min-width: 992px) {
  .contact-details {
    flex: 0 0 40%; } }

.contact-details .contact-card:not(:first-child) {
  margin-top: 1rem; }

.contact-card {
  background-color: transparent;
  border: 1px solid #1270a8;
  border-radius: 0.75rem; }
  @media (min-width: 992px) {
    .contact-card {
      border-radius: 0.75rem 0 0 0.75rem; } }
  .contact-card .card-body {
    color: #fff;
    padding: 1.5rem; }
    @media (min-width: 992px) {
      .contact-card .card-body {
        padding: 1.5rem 2rem; } }
    .contact-card .card-body img {
      width: 1.75rem;
      height: auto;
      right: 1.75rem;
      top: -0.75rem;
      z-index: 999; }
    .contact-card .card-body .ofc-heading,
    .contact-card .card-body h3,
    .contact-card .card-body p {
      line-height: 1.5rem; }
    .contact-card .card-body .ofc-heading {
      font-size: 1.25rem; }
    .contact-card .card-body h3 {
      font-size: 1.375rem; }
    .contact-card .card-body p {
      font-size: 0.875rem; }
    .contact-card .card-body span {
      font-size: 0.8125rem;
      line-height: 1rem; }
      @media (min-width: 992px) {
        .contact-card .card-body span {
          font-size: 1.0625rem;
          line-height: 1.25rem; } }
    .contact-card .card-body .email-text {
      font-size: 1.0625rem;
      line-height: 1.25rem; }
  .contact-card .social-media-list-wrap {
    margin: 0 -0.75rem; }
    .contact-card .social-media-list-wrap .social-media-list-item {
      padding: 0 0.75rem; }
      .contact-card .social-media-list-wrap .social-media-list-item .media-img {
        width: 1rem;
        height: 1rem; }
      .contact-card .social-media-list-wrap .social-media-list-item .-twitter .media-img {
        background: url("../../assets/images/revampImages/twitter-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-twitter:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-twitter:focus .media-img {
          background: url("../../assets/images/revampImages/twitter-contact-hover@3x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-linkedin .media-img {
        background: url("../../assets/images/revampImages/linked-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-linkedin:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-linkedin:focus .media-img {
          background: url("../../assets/images/revampImages/linked-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-insta .media-img {
        background: url("../../assets/images/revampImages/insta-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-insta:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-insta:focus .media-img {
          background: url("../../assets/images/revampImages/insta-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-facebook .media-img {
        background: url("../../assets/images/revampImages/facebook-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-facebook:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-facebook:focus .media-img {
          background: url("../../assets/images/revampImages/facebook-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
