/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.contact-us-section {
  background: url("../../assets/images/revampImages/contact-us-bg@2x.jpeg") no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-direction: column; }
  @media (min-width: 992px) {
    .contact-us-section {
      background-position: center;
      flex-direction: row;
      align-items: center;
      padding: 4.25rem 0; } }

.contact-form-content {
  padding: 0 0.5rem; }
  @media (min-width: 992px) {
    .contact-form-content {
      flex: 0 0 60%;
      max-width: 34.625rem;
      margin: 0 auto; } }
  .contact-form-content h3 {
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center; }
    @media (min-width: 992px) {
      .contact-form-content h3 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 3.5rem;
        text-align: left; } }
  .contact-form-content .hello-text-box {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #fff; }
    .contact-form-content .hello-text-box > img {
      width: 1.625rem;
      height: 100%;
      vertical-align: text-bottom; }
    @media (min-width: 992px) {
      .contact-form-content .hello-text-box {
        margin-bottom: 3.75rem; } }

.contact-form-wrap {
  padding: 0 0.75rem; }
  .contact-form-wrap input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s; }
  .contact-form-wrap .form-floating > .form-control,
  .contact-form-wrap .form-floating > .form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25; }
  .contact-form-wrap .form-floating > .form-control {
    background-color: transparent;
    border-bottom: 1px solid #283755;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    padding: 0.5rem 0;
    color: #fff; }
    @media (min-width: 992px) {
      .contact-form-wrap .form-floating > .form-control {
        font-size: 2rem;
        line-height: 1.9375rem;
        border-bottom: 4px solid transparent;
        height: auto; } }
    .contact-form-wrap .form-floating > .form-control:focus {
      box-shadow: unset;
      border-color: #283755;
      background-color: transparent; }
    @media (min-width: 992px) {
      .contact-form-wrap .form-floating > .form-control.form-select-field {
        font-size: 1rem;
        line-height: 1.25;
        border-bottom: 4px solid #283755; } }
  .contact-form-wrap .form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.25rem 0;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0; }
    @media (prefers-reduced-motion: reduce) {
      .contact-form-wrap .form-floating > label > label {
        transition: none; } }
    .contact-form-wrap .form-floating > label > .form-control {
      padding: 1rem 0.75rem; }
    .contact-form-wrap .form-floating > label::before {
      content: "";
      position: absolute;
      left: -0.75rem;
      top: 0.75rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: #1270a8;
      border-radius: 50%; }
      @media (min-width: 992px) {
        .contact-form-wrap .form-floating > label::before {
          left: -1rem; } }
  .contact-form-wrap .form-floating.form-select-floating > .form-control ~ label {
    color: #fff !important; }
  .contact-form-wrap .form-floating > .form-control::-moz-placeholder {
    color: transparent; }
  .contact-form-wrap .form-floating > .form-control::placeholder {
    color: transparent; }
  .contact-form-wrap .form-floating > .form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem; }
  .contact-form-wrap .form-floating > .form-control:focus,
  .contact-form-wrap .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem; }
  .contact-form-wrap .form-floating > .form-control:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem; }
  .contact-form-wrap .form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem; }
  .contact-form-wrap .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    color: #8e8e8e;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); }
    @media (min-width: 992px) {
      .contact-form-wrap .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
        transform: scale(1) translateY(-0.5rem) translateX(0.15rem); } }
  .contact-form-wrap .form-floating > .form-control:focus ~ label,
  .contact-form-wrap .form-floating > .form-control:not(:placeholder-shown) ~ label,
  .contact-form-wrap .form-floating > .form-select ~ label {
    color: #8e8e8e;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); }
    @media (min-width: 992px) {
      .contact-form-wrap .form-floating > .form-control:focus ~ label,
      .contact-form-wrap .form-floating > .form-control:not(:placeholder-shown) ~ label,
      .contact-form-wrap .form-floating > .form-select ~ label {
        transform: scale(1) translateY(-0.5rem) translateX(0.15rem); } }
  .contact-form-wrap .form-floating > .form-control:-webkit-autofill ~ label {
    color: #8e8e8e;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); }
    @media (min-width: 992px) {
      .contact-form-wrap .form-floating > .form-control:-webkit-autofill ~ label {
        transform: scale(1) translateY(-0.5rem) translateX(0.15rem); } }

@media (min-width: 992px) {
  .contact-details {
    flex: 0 0 40%; } }

.contact-details .contact-card:not(:first-child) {
  margin-top: 1rem; }

.contact-card {
  background-color: transparent;
  border: 1px solid #1270a8;
  border-radius: 0.75rem;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); }
  @media (min-width: 992px) {
    .contact-card {
      border-radius: 0.75rem 0 0 0.75rem; } }
  .contact-card .card-body {
    color: #fff;
    padding: 1.5rem; }
    @media (min-width: 992px) {
      .contact-card .card-body {
        padding: 1.5rem 2rem; } }
    .contact-card .card-body img {
      width: 1.25rem;
      height: auto;
      right: 1.75rem;
      top: 1.25rem;
      z-index: 999; }
      @media (min-width: 992px) {
        .contact-card .card-body img {
          width: 1.5rem;
          top: 1.375rem; } }
    .contact-card .card-body .ofc-heading,
    .contact-card .card-body h3,
    .contact-card .card-body p {
      line-height: 1.5rem; }
    .contact-card .card-body .ofc-heading {
      font-size: 1.25rem; }
    .contact-card .card-body h3 {
      font-size: 1.375rem; }
    .contact-card .card-body p {
      font-size: 0.875rem; }
    .contact-card .card-body span {
      font-size: 0.8125rem;
      line-height: 1rem; }
      @media (min-width: 992px) {
        .contact-card .card-body span {
          font-size: 1.0625rem;
          line-height: 1.25rem; } }
    .contact-card .card-body .email-text {
      font-size: 1.0625rem;
      line-height: 1.25rem; }
  .contact-card .social-media-list-wrap {
    margin: 0 -0.75rem; }
    .contact-card .social-media-list-wrap .social-media-list-item {
      padding: 0 0.75rem; }
      .contact-card .social-media-list-wrap .social-media-list-item .media-img {
        width: 1rem;
        height: 1rem; }
      .contact-card .social-media-list-wrap .social-media-list-item .-twitter .media-img {
        background: url("../../assets/images/revampImages/twitter-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-twitter:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-twitter:focus .media-img {
          background: url("../../assets/images/revampImages/twitter-contact-hover@3x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-linkedin .media-img {
        background: url("../../assets/images/revampImages/linked-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-linkedin:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-linkedin:focus .media-img {
          background: url("../../assets/images/revampImages/linked-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-insta .media-img {
        background: url("../../assets/images/revampImages/insta-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-insta:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-insta:focus .media-img {
          background: url("../../assets/images/revampImages/insta-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
      .contact-card .social-media-list-wrap .social-media-list-item .-facebook .media-img {
        background: url("../../assets/images/revampImages/facebook-contact-icon@2x.png") no-repeat;
        background-position: center;
        background-size: contain; }
      @media (min-width: 992px) {
        .contact-card .social-media-list-wrap .social-media-list-item .-facebook:hover .media-img, .contact-card .social-media-list-wrap .social-media-list-item .-facebook:focus .media-img {
          background: url("../../assets/images/revampImages/facebook-contact-hover@2x.png") no-repeat;
          background-position: center;
          background-size: contain; } }
