/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.domain-item-wrap img {
  width: 12.5rem;
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in-out; }
  @media (min-width: 768px) {
    .domain-item-wrap img {
      width: 15.25rem; } }
  .domain-item-wrap img:hover {
    transform: scale(1.1); }

.domain-item-wrap span {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.6875rem;
  color: #333333;
  margin-top: 3rem; }
  @media (min-width: 1200px) {
    .domain-item-wrap span {
      font-size: 2.5rem;
      line-height: 3.5625rem; } }

.domain-item-wrap .default-btn-link {
  left: 2rem;
  bottom: 4.5rem; }
  @media (min-width: 1200px) {
    .domain-item-wrap .default-btn-link {
      bottom: 5.5rem; } }

.industry-slider .slick-slider .slick-dots {
  bottom: -4.5rem; }
  .industry-slider .slick-slider .slick-dots li button::before {
    color: #fff;
    opacity: unset; }
