/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.article-list {
  padding: 4rem 3rem 0;
  background-color: #e6e6e6;
  flex-wrap: wrap; }
  @media (min-width: 992px) {
    .article-list {
      padding: 5rem 0;
      flex-wrap: unset;
      justify-content: center; } }

.article-item-wrap {
  margin-bottom: 1.5rem; }
  @media (min-width: 992px) {
    .article-item-wrap {
      padding: 0 1.5rem;
      margin-bottom: 0; } }

.article-items {
  background-color: #fff;
  border-radius: 0.75rem;
  max-width: 100%;
  width: 100%;
  padding: 1.5rem;
  flex: 1;
  height: 100%; }
  @media (min-width: 992px) {
    .article-items {
      margin-bottom: 0;
      max-width: 15.5rem;
      padding: 1rem 1.5rem 1.5rem; } }
  .article-items h1 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    color: #333333;
    margin-bottom: 1rem; }
    @media (min-width: 992px) {
      .article-items h1 {
        font-size: 1.4375rem;
        line-height: 1.6875rem;
        margin-bottom: 0.5rem; } }
  .article-items p {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #020449;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
    @media (min-width: 992px) {
      .article-items p {
        font-size: 1rem;
        line-height: 1.5rem;
        -webkit-line-clamp: 3;
        text-align: center; } }
  .article-items .image-wrap {
    max-width: 388px;
    margin: 0 -2.125rem 1.5rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0.5rem; }
    @media (min-width: 992px) {
      .article-items .image-wrap {
        margin: 0 -2.125rem 1rem; } }
    .article-items .image-wrap img {
      height: 146px;
      width: 100%;
      border-radius: 0.5rem; }
  .article-items .default-btn {
    margin: 0 auto; }
