@import "../../assets/stylesheets/core";

.domain-details-image {
  box-shadow: 0px 3px 6px rgba($black, 0.161);
  border-radius: 0.75rem;
  width: 19rem;
  height: auto;
  margin-bottom: 1.5rem;
  @include media-breakpoint-up(lg) {
    width: 20.875rem;
    margin-bottom: 3rem;
  }
  > img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
  }
}

.domain-details-card {
  background: url("../../assets/images/revampImages/blue-bg.png") no-repeat;
  background-size: cover;
  background-size: 18rem;
  background-position: left;
  margin: 0 1.5rem;
  @include media-breakpoint-up(lg) {
    width: 27.125rem;
    max-width: 27.125rem;
    background-size: 23.25rem;
    background-position: top center;
    margin: 0;
  }

  &.box1 {
    @include media-breakpoint-up(lg) {
      grid-column: 2/2;
      grid-row: 1/ 3;
    }
  }
  &.box2 {
    @include media-breakpoint-up(lg) {
      grid-row: 2/4;
      justify-self: end;
    }
  }
  &.box3 {
    @include media-breakpoint-up(lg) {
      grid-row: 3/5;
    }
  }
  &.box4 {
    @include media-breakpoint-up(lg) {
      grid-row: 4/6;
      justify-self: end;
    }
  }
  &.box5 {
    @include media-breakpoint-up(lg) {
      grid-row: 5/7;
    }
  }
  &.box6 {
    @include media-breakpoint-up(lg) {
      grid-row: 6/8;
      justify-self: end;
    }
  }

  h4 {
    font-size: 2rem;
    color: #333333;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 0.75rem;
    color: #1c1c1c;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cf4338;
    @include media-breakpoint-up(lg) {
      font-size: 0.75rem;
    }
  }
}

.domain-card {
  display: grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(100px, max-content));
    grid-gap: 4.5rem;
  }
  li {
    margin-bottom: 3rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
    &:nth-child(-n + 2) {
      @include media-breakpoint-up(lg) {
        margin-bottom: 3.5rem;
      }
    }
    &:not(:nth-child(-n + 2)) {
      @include media-breakpoint-up(lg) {
        margin: 3.5rem 0;
      }
    }
  }
  .box {
    background-color: $white;
    border-radius: 0 2rem 2rem 0;
    padding: 1rem 1rem 1rem 2.5rem;
    margin-right: 1.5rem;
    @include media-breakpoint-up(lg) {
      padding: 1.5rem 1.5rem 1.5rem 4.5rem;
    }

    p {
      color: #1c1c1c;
    }

    p {
      font-size: 0.75rem;
      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }
    }
  }
}
