/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.about-us-section {
  padding-top: 5.5rem; }
  @media (min-width: 992px) {
    .about-us-section {
      padding-top: 4.5rem; } }
  .about-us-section > h2 {
    font-size: 2.25rem;
    line-height: 2.625rem; }
