@import "../../assets/stylesheets/core";

.image-card-wrap {
  background: transparent linear-gradient(287deg, #020449 0%, #134b6c 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 6px 8px 16px rgba($black, 0.392);

  .content-details {
    padding: 5rem 0 0;
    height: 28rem;
    .content-col {
      flex: 0 0 50%;
      padding-right: 2.5rem;
    }
  }

  .image-wrapper {
    box-shadow: 6px 8px 16px rgba($black, 0.098);
    border-radius: 0.75rem;
    right: 0;
    bottom: -3.5rem;
    img {
      width: 36.625rem;
      height: auto;
      border-radius: 0.75rem;
    }
  }
}
