@import "../../assets/stylesheets/core";

.image-card-wrap {
  background: transparent linear-gradient(287deg, #020449 0%, #134b6c 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 6px 8px 16px rgba($black, 0.392);

  .content-details {
    padding: 3rem 0 0;
    height: 36.75rem;
    @include media-breakpoint-up(lg) {
      padding: 5rem 0 0;
      height: 28rem;
    }
    .content-col {
      @include media-breakpoint-up(lg) {
        flex: 0 0 50%;
        padding-right: 2.5rem;
      }

      .site-heading {
        text-align: center;
        @include media-breakpoint-up(lg) {
          text-align: left;
        }
      }
    }
  }

  .image-wrapper {
    box-shadow: 6px 8px 16px rgba($black, 0.098);
    border-radius: 0.75rem;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(lg) {
      bottom: -3.5rem;
      right: 0;
    }
    img {
      width: 20rem;
      height: auto;
      border-radius: 0.75rem;
      @include media-breakpoint-up(lg) {
        width: 36.625rem;
      }
    }
  }
}
