/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.testimonial-card-content {
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 6px 0px 10px rgba(18, 112, 168, 0.09);
  border-radius: 12px; }
  @media (min-width: 992px) {
    .testimonial-card-content {
      margin-bottom: 2.5rem; } }

@media (min-width: 992px) {
  .client-profile {
    flex-direction: column; } }
