.section-aboutus{

  &.section-banner{
    background-color: $gray-68;
    min-height:rem(825px);

    @include media-breakpoint-down(sm) {
      min-height: rem(360px);
    }
  }
}

.section-about_info {
  background-color: $roman;
  padding: rem(48px 0 32px);

  @include media-breakpoint-down(sm) {
    padding: rem(40px 0 30px);
  }

  .about-wrap {
    @include flexbox();
    @include flex-direction(column);
    @include flex(1);
    @include justify-content(center);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(40px);
    }

    .wrap-title {
      font-size: rem(32px);
      line-height: rem(40px);
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: $white;
      margin: 0 0 rem(32px);

      @include media-breakpoint-down(md) {
        margin: 0 0 rem(24px);
      }
    }

    .wrap-subtitle {
      font-size: rem(28px);
      line-height: rem(34px);
      font-weight: 100;
      letter-spacing: 2px;
      text-align: center;
      color: $white;
      margin: 0 0 rem(64px);

      @include media-breakpoint-down(md) {
        margin: 0 0 rem(40px);
      }
    }

    .para {
      font-size: rem(18px);
      line-height: rem(28px);
      font-weight: 100;
      letter-spacing: 1px;
      color: $white;
      margin: 0 0 rem(80px);

      @include media-breakpoint-down(md) {
        margin: 0 0 rem(40px);
      }
    }

    .btn-wrap {
      @include flexbox();
      @include justify-content(center);

      @include media-breakpoint-down(sm){
        @include flex-direction(column);
        @include align-items(center);
      }

      .btn{
        margin: 0 rem(20px) 0 0;
      
        @include media-breakpoint-down(sm){
          margin: 0 0 rem(20px);
        }

        &:hover {
          color: $roman;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .btn-white {
      color: $roman;
    }
  }
}

.section-news {

  .media-wrap {

    @include media-breakpoint-down(sm) {
      padding: rem(40px 0 0);
    }
  }
}