.section-home {
  padding: rem(150px 0 75px);
  background-color: $gray-96;

  @include media-breakpoint-down(md) {
    padding: rem(100px 0 50px);
  }

  .section-heading {
    font-size: rem(46px);
    line-height: rem(55px);
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: rem(38px);
      line-height: rem(45px);
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(32px);
      line-height: rem(39px);
    }
  }

  .link-box{
    text-align: right;

    a{
      font-size: rem(18px);
      line-height: rem(22px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: rem(0.5px);

      @include media-breakpoint-down(md) {
        font-size: rem(16px);
        line-height: rem(19px);
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(14px);
        line-height: rem(17px);
      }
    }

    i{
      font-size: rem(28px);
      margin-right: rem(12px);

      @include media-breakpoint-down(md) {
        font-size: rem(26px);
      }
    }
  }

  &.section-banner {
    background: #14151A url("../images/home-banner.jpg") no-repeat top right;
    background-size: cover;
    min-height: rem(825px);

    @include media-breakpoint-down(md) {
      min-height: rem(390px);
    }
  }
}

.section-expertise {
  background: $galliano url("../images/home-industries.jpg") repeat top center;

  .section-heading{
    margin: 0 0 rem(65px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(50px);
    }
  }

  .img-expertise{
    max-width: rem(512px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(40px);
    }
  }
}

.section-work {
  min-height: unset;
  background-color: $fountain-blue;

  .section-heading{
    margin: 0 0 rem(46px);
  }

  .img-horizontal{
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .img-vertical{
    display: none;

    @include media-breakpoint-down(md) {
      width: rem(420px);
      margin: 0 auto;
      display: block;
    }

    @include media-breakpoint-down(sm) {
      width: rem(320px);
      margin: 0 auto;
      display: block;
    }
  }
}

/* Section Client */
.section-clients {

  .section-heading {
    margin: 0 0 rem(72px);
    color: #666;
  }
}

.list-client{
  width: 86%;
  margin: 0 auto rem(91px);
  //margin: rem(0 -12px 91px);
  @extend .d-flex;
  @extend .flex-wrap;

  @include media-breakpoint-down(md) {
    width: 98%;
    margin: 0 auto rem(76px);
  }

  li{
    width: 20%;
    padding: rem(0 12px);
    margin: rem(0 0 24px);

    @include media-breakpoint-down(md) {
      width: 33.33%;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
      padding: rem(0 5px);
      margin: rem(0 0 10px);
    }

    a{
      //width: rem(192px);
      height: rem(124px);
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      background-color: $white;
      box-shadow: 0 0 16px 0 rgba(0,0,0,0.08);
    }
  }
}

/* End */

.section-about {
  background-color: $roman;

  .section-heading {
    margin: 0 0 rem(30px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(50px);
    }
  }

  .about-wrap{
    @extend .d-flex;

    @include media-breakpoint-down(md) {
      @include flex-direction(column);
    }
  }

  .stats-box{
    @extend .d-flex;
    @extend .flex-column;
    @include justify-content(space-between);
    @include flex(0 0 30%);
    padding: rem(20px 8px);

    @include media-breakpoint-down(md) {
      @include order(2);
      padding: rem(0 8px);
    }
  }

  .stats{
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(32px);
    }

    h4{
      font-size: rem(40px);
      line-height: rem(48px);
      font-weight: 300;
      margin: 0 0 rem(4px);
      opacity: 0.80;
    }

    p{
      font-size: rem(13px);
      line-height: rem(18px);
      font-weight: 300;
      margin: 0;
      letter-spacing: 1px;
      opacity: 0.80;
    }
  }

  .stats-button{

    .btn{

      &:hover{
        color: $roman;
        font-weight: 300;
      }
    }
  }

  .about-banner{
    @include flex(0 0 40%);
    text-align: center;

    @include media-breakpoint-down(md) {
      @include order(1);
      margin: 0 0 rem(36px);
    }
  }
}

.section-contact {
  background: transparent url("../images/bg-contact.png") no-repeat top right;
  background-size: cover;
  min-height: rem(425px);
  padding: rem(142px 0 110px);

  @include media-breakpoint-down(md) {
    background: transparent none;
    padding: rem(56px 0);
  }

  .contact-wrap{
    text-align: center;

    p{
      color: $gray-40;
      font-size: rem(28px);
      line-height: rem(39px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: rem(0.92233px);
      margin: rem(0 0 48px);

      @include media-breakpoint-down(sm) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }

    @include media-breakpoint-down(md) {
      margin: rem(0 0 56px);

      p{
        margin: 0;
      }

      .btn-secondary {
        display: none;
      }
    }
  }

  .contact-banner{
    display: none;

    @include media-breakpoint-down(md) {
      background: transparent url("../images/bg-contact.png") no-repeat top right;
      background-size: cover;
      display: block;
      height: rem(217px);
      margin: rem(0 0 45px);
    }
  }

  .contact-number {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;

      h6 {
        color: $gray-40;
        font-size: rem(32px);
        line-height: rem(39px);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: rem(0.92233px);
        margin: rem(0 0 6px);

        @include media-breakpoint-down(sm) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }

      p{
        margin: 0;
        color: $gray-40;
        font-size: rem(16px);
        line-height: rem(22px);
        font-weight: 300;

        i{
          font-size: rem(24px);
          color: $olivine;
          padding-right: rem(12px);
        }
      }
    }
  }
}
