.section-home {
  min-height: rem(900px);
  padding: rem(150px 0 75px);
  background-color: $gray-96;

  .section-heading {
    font-size: rem(46px);
    line-height: rem(55px);
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    text-align: center;
  }
}

.section-banner {
  background-color: #283047;
}

.section-expertise {
  background-color: #CAAE0D;
}

.section-work {
  background-color: #62AAAC;
}

.section-clients {

  .section-heading {
    color: $gray-20;
  }
}

.section-about {
  background-color: #D1645D;
}

.section-contact {
  background: transparent url("../images/bg-contact.png") no-repeat top right;
  background-size: cover;
  min-height: rem(425px);
  padding: rem(142px 0 110px);

  @include media-breakpoint-down(md) {
    background: transparent none;
    padding: rem(56px 0);
  }

  .contact-wrap{
    text-align: center;

    p{
      color: $gray-40;
      font-size: rem(32px);
      line-height: rem(39px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: rem(0.92233px);
      margin: rem(0 0 48px);

      @include media-breakpoint-down(sm) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }

    @include media-breakpoint-down(md) {
      margin: rem(0 0 56px);

      p{
        margin: 0;
      }

      .btn-secondary {
        display: none;
      }
    }
  }

  .contact-banner{
    display: none;

    @include media-breakpoint-down(md) {
      background: transparent url("../images/bg-contact.png") no-repeat top right;
      background-size: cover;
      display: block;
      height: rem(217px);
      margin: rem(0 0 45px);
    }
  }

  .contact-number {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;

      h6 {
        color: $gray-40;
        font-size: rem(32px);
        line-height: rem(39px);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: rem(0.92233px);
        margin: rem(0 0 6px);

        @include media-breakpoint-down(sm) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }

      p{
        margin: 0;
        color: $gray-40;
        font-size: rem(16px);
        line-height: rem(22px);
        font-weight: 300;

        i{
          font-size: rem(24px);
          color: $olivine;
          padding-right: rem(12px);
        }
      }
    }
  }
}
