.section-industries{

  &.section-banner{
    background-color: #C7AB0D;
    min-height: rem(822px);
  }
}

.card-expertise{
  .card-title{
    margin-bottom:rem(24px);
  }
  .card-img{
    height:rem(136px);
  }
  .card-text{
    color:$gray-40;
  }
}