.section-innovation{
  text-align: center;
  h1{
    font-size: rem(60px);
    font-weight: 100;
    line-height: rem(72px);
    text-transform: uppercase;
    margin-bottom:rem(20px);

    @include media-breakpoint-down(sm) {
      font-size: rem(40px);
    }
  }

  p{
    text-align: left;
    font-size: rem(14px);
    font-weight: 300;
    margin-bottom: rem(43px);
  }
  .title{
    font-size: rem(18px);
    font-weight: 700;
    line-height: rem(24px);
    margin-bottom: rem(6px);
  }
  .info{
    font-size: rem(24px);
    line-height: rem(36px);
    margin-bottom: rem(40px);
  }

}