.section-services{

  &.section-banner{
    background-color: #62AAAC;
    min-height: rem(825px);
  }

  &.section-content {

    @include media-breakpoint-down(sm) {
      padding: rem(40px) 0 0;
    }
    
    .section-heading {
      font-size: rem(32px);
      line-height: rem(39px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      letter-spacing: rem(1px);
      text-align: center;
      margin: 0 0 rem(8px);
    }
  }
}

.card-work {

  .card-body {
    @include flex(0 0 90%);
    max-width: 90%;

    @include media-breakpoint-down(sm) {
      @include flex(1 1 auto);
      max-width: 100%;
    }
  }

  .card-title{

    @include media-breakpoint-down(md) {
      font-size: rem(30px);
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(24px);
    }
  }

  .scroll-top {
    position: static;
    top: unset;
    right: unset;
    text-align: right;
  }
}

.portfolio-wrap {
  @include flexbox();
  margin: 0 rem(-15px);

  @include media-breakpoint-down(md) {
    @include flex-direction(column);
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  .portfolio-img {
    @include flex(0 0 60%);
    padding: 0 rem(15px);

    @include media-breakpoint-down(md) {
      text-align: center;
      margin: 0 0 rem(40px);
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    .img-desktop{

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .img-mobile {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .portfolio-info {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include flex(0 0 40%);
    padding: 0 rem(15px);

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .link-box{
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    margin: 0 rem(-4px);

    a {
      font-size: rem(14px);
      line-height: rem(17px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      padding: rem(4px);
      text-decoration: none;

      i{
        margin-right: rem(8px);
      }
    }
  }
}
