.section-services{

  &.section-banner{
    background-color: #62AAAC;
    min-height: calc(100vh - 76px);
    position: relative;
    padding: rem(100px 0 75px);

    @include media-breakpoint-down(md){
      min-height: unset;
    }

    @include media-breakpoint-down(sm){
      min-height: unset;
      padding: rem(40px 0);
    }

    h1{
      text-transform: uppercase;
      text-align: center;
      color: $white;
      font-weight: 300;
      margin: 0 0 rem(50px);

      @include media-breakpoint-down(sm){
        margin: 0 0 rem(40px);
      }
    }

    .para{
      font-weight: 300;
      color: $white;
      letter-spacing: 0.5px;
      margin: 0 0 rem(30px);

      @include media-breakpoint-down(sm){
        font-size: rem(14px);
        line-height: rem(19px);
        margin: 0;
      }
    }
  }


  &.section-content {

    @include media-breakpoint-down(sm) {
      padding: rem(40px) 0 0;
    }
    
    .section-heading {
      font-size: rem(40px);
      line-height: rem(39px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: rem(1px);
      text-align: center;
      margin: 0 0 rem(20px);

      @include media-breakpoint-down(sm){
        margin: 0;
      }
    }
  }
}

.services-banner-svg {

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .bg-circle {
    // fill: $fountain-blue;
    fill: transparent;
    }

  .gear {
    cursor: pointer;

    &:hover {

      .title {
        display: none;
      }

      .description {
        display: block;
      }
    }
  }

  .title {
    fill: $white;
    stroke: rgba(0,0,0,0);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.024em;
  }

    .description {
      display: none;
      fill: $white;
      font-size: 14px;
      letter-spacing: 0.04em;
    }
}

.services-banner-svg-sm {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: 0 0 rem(40px);
  }

  .title {
    fill: $white;
    stroke: rgba(0,0,0,0);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.024em;
  }

  .description {
    fill: $white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.04em;
  }
}

.card-work {

  .card-body {
    @include flex(0 0 90%);
    max-width: 90%;

    @include media-breakpoint-down(sm) {
      @include flex(1 1 auto);
      max-width: 100%;
    }
  }

  .card-title{
      font-size: rem(32px);
      margin-bottom: rem(32px);

      @include media-breakpoint-down(md) {
        font-size: rem(30px);
        text-align: center;
      }

    @include media-breakpoint-down(sm) {
      font-size: rem(24px);
    }
  }

  .scroll-top {
    position: static;
    top: unset;
    right: unset;
    text-align: right;
  }
}

.portfolio-wrap {
  @include flexbox();
  margin: 0 rem(-15px);

  @include media-breakpoint-down(md) {
    @include flex-direction(column);
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  .portfolio-img {
    @include flex(0 0 60%);
    padding: 0 rem(15px);

    @include media-breakpoint-down(md) {
      text-align: center;
      margin: 0 0 rem(40px);
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .portfolio-info {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include flex(0 0 40%);
    padding: 0 rem(15px);

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .link-box{
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    margin: 0 rem(-4px);

    a {
      font-size: rem(14px);
      line-height: rem(17px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      padding: rem(4px);
      text-decoration: none;

      i{
        margin-right: rem(8px);
      }
    }
  }
}
