/* section team */

.section-team{

  &.section-banner{
    background-color: transparent;
  }

  .section-content {
    padding: rem(100px 0 80px);
  
    @include media-breakpoint-down(sm){
      padding-bottom: rem(50px);
    }
  }
}

.section-leadership {
  background-color: #7AA6B2;
}

.card-team{
  border:0;
  border-radius: 0;
  background-color: transparent;
  margin-bottom:rem(40px);

  @include media-breakpoint-down(sm){
    margin-bottom:rem(37px);
  }

  img{
    width:100%;
    margin-bottom: rem(15px);
  }

  .card-body{
    margin:0;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .social-media-links{
    margin:rem(0 12px 0);
  }
}

.person-info{
  color: $white;
  letter-spacing: rem(1px);

  h5{
    font-size:rem(20px);
    margin-bottom: rem(4px);

    @include media-breakpoint-down(sm){
      font-size:rem(16px);
      line-height: rem(19px);
    }
  }

  .designation{
    margin:0;
    font-weight: 100;
    line-height: rem(25px);
    font-size: rem(18px);

    @include media-breakpoint-down(sm){
      font-size:rem(16px);
      line-height: rem(19px);
    }
  }
}
/* section team end */

/* section nerds */
.section-nerds{

  @include media-breakpoint-down(sm){
    padding:rem(75px 0);
  }

  h3{
   // font-size:28px;
    font-weight:100;
    letter-spacing: 1px;
  }

  img{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.07); 
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.07);
  }

  .social-media-links{
    margin:rem(0 8px 0 0);
  }
  .-nerds{
    display: flex;
    align-items: center;
  }
  h5{
    margin:0;
    color: $gray-20;
    font-size:rem(20px);
    font-weight:100;
    line-height:rem(22px);
    letter-spacing: 1px;
    @include media-breakpoint-down(sm){
      font-size:rem(18px);
    }
  }
  .btn-wrap{
    @include media-breakpoint-down(sm){
      margin-bottom: 0;
    }
  }
}

