.josh-header {
  height: rem(76px);
  background-color: $white;
  @include flexbox();
  @include align-items(center);
  // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 69px -23px rgba(0,0,0,0.75);

  @include media-breakpoint-down(md) {
    height: rem(54px);
  }

  .navbar-brand {

    > img {
      width: rem(216px);
      height: auto;

      @include media-breakpoint-down(md) {
        width: rem(120px);
      }
    }
  }
}

.josh-navbar {
  @include align-items(flex-end);
  padding: 0;

  @include media-breakpoint-down(md) {
    @include align-items(center);
    padding: 0 5px;
  }

  .navbar-nav {

    .nav-link {
      color: $gray-60;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      padding: rem(5px 15px);

      @include media-breakpoint-down(md) {
        color: $gray-20;
        padding: rem(10px 15px);
      }

      &.active {
        color: $gray-20;
        font-weight: 700;
      }

      &:hover, &:focus {
        color: $gray-20;
      }
    }

    .nav-offcanvas-link {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  .dropdown-toggle {

    &::after{
      margin-left: rem(8px);
    }
  }

  .dropdown-menu {
    background-color: $gray-94;
    border-radius: 0;
    border: 0 none;
    margin: rem(9px) 0 0;
    padding: rem(5px) 0;
  }

  .dropdown-item {
    color: $gray-60;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: rem(5px 15px);

    &:hover {
      background-color: transparent;
      color: $gray-20;
    }

    &.active {
      background-color: $gray-94;
      color: $gray-20;
      font-weight: 700;
    }
  }
}
