/* shared */
html {
  @include rem-baseline;
}

body {
  padding-top: rem(76px);

  @include media-breakpoint-down(md) {
    padding-top: rem(54px);
  }
}

// button
.btn{
  width: rem(180px);
  font-size: rem(14px);
  line-height: rem(19px);
  font-weight: 300;
  letter-spacing: rem(0.638px);
  text-transform: uppercase;
  padding: rem(10px 10px 9px);
  border-radius: rem(6px); 
}

button:focus {
  outline: none;
}

// utility classes
.no-scroll {
  overflow: hidden;
}

.no-md-scroll {

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.d-md-none{

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.font-weight-thin{
  font-weight: 100 !important;
}

/* Page Section */
.section-content{
  padding:rem(80px 0);

  @include media-breakpoint-down(sm){
    padding: 0;
  }

  .btn-wrap{
    @include flexbox();
    @include justify-content(center);

    @include media-breakpoint-down(sm){
      @include flex-direction(column);
      @include align-items(center);
      margin: 0 0 rem(40px)
    }

    .btn{
      margin: 0 rem(20px) 0 0;
    
      @include media-breakpoint-down(sm){
        margin: 0 0 rem(20px);
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
/* Page Section end */

.card-wrap{
  margin: 0 0 rem(80px);

  @include media-breakpoint-down(sm){
    margin: 0 rem(-15px 40px);
  }

  &.-striped {

    .card:nth-of-type(even) {
      background-color: $gray-95;
    }
  }
}

.card-expertise{
  border:0;
  border-radius: 0;
  background-color: transparent;
  padding: rem(80px 16px);
  
  @include media-breakpoint-down(sm){
    padding: rem(40px 16px);
  }

  .card-body{
    position: relative;
    @include flex(0 0 80%);
    max-width: 80%;
    margin:0 auto;
    padding: 0;

    @include media-breakpoint-down(sm){
      @include flex(1 1 auto);
      max-width: 100%;
      text-align: center;
    }
  }

  .card-title{
    font-size:rem(36px);
    font-weight: 300;
    line-height: rem(44px);
    margin-bottom:rem(32px);

    @include media-breakpoint-down(sm) {
      font-size:rem(32px);
      line-height: rem(39px);
      margin: 0 0 rem(32px);
    }
  }

  .card-img{
    width:auto;
    height:rem(100px);
    margin-bottom:rem(16px);
    @include border-radius(0);
  }

  .card-text{
    font-weight: 300;
    line-height: rem(24px);
    letter-spacing: 1px;

    @include media-breakpoint-down(sm) {
     font-size:rem(14px);
     line-height: rem(21px);
     text-align: left;
    }
  }
}

.scroll-top {
  position: absolute;
  top: rem(20px);
  right: 0;

  @include media-breakpoint-down(sm) {
    position: relative;
    top: unset;
    right: unset;
    text-align: right;
  }

  .btn-scroll {
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(20px);
    color:$gray-20;
    padding: rem(4px 8px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media-breakpoint-down(sm) {
      font-size: rem(10px);
    }
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: rem(22px);
  @include translate(-50%, 0);
  color: $gray-20;
  z-index: 3;
  text-decoration: none;

  @include media-breakpoint-down(md){
    bottom: rem(8px);
  }

  @include media-breakpoint-down(sm) {
    display: none !important;
   }

  &:hover {
    text-decoration: none;
    color: $gray-20;
  }

  &.text-white {

    &:hover {
      color: $white;
    }
  }

  i{
    font-size: rem(48px);

    @include media-breakpoint-down(md){
      font-size: rem(28px);
    }
  }
}

.media-wrap {
  margin: 0 0 rem(80px);

  @include media-breakpoint-down(sm) {
    margin: 0 0 rem(40px);
  }

  .media-heading {
    font-size: rem(32px);
    line-height: rem(39px);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: rem(1px);
    text-align: center;
    margin: 0 0 rem(48px);

    @include media-breakpoint-down(sm) {
      margin: 0 0 rem(40px);
    }
  }

  .list-media {
    width: 50%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      width: 75%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .list-media-item {

    &:last-child {

      .card-media {
        margin: 0;
      }
    }
  }
}

.card-media {
  position: relative;
  border: 0 none;
  @include border-radius(0);
  @include boxShadow(2px 2px 38px -6px rgba(184,184,184,1));

  margin: 0 0 rem(40px);

  @include media-breakpoint-down(sm) {
    margin: 0 0 rem(20px);
  }

  .card-img {
    @include border-radius(0);
  }

  .btn-link {
    display: inline-block;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(17px);
    color: #00B1FF;
  }
  
  iframe{
    width: auto;
    height: rem(310px);

    @include media-breakpoint-down(md) {
      height: rem(290px);
     }
     
    @include media-breakpoint-down(sm) {
     height: rem(194px);
    }
    
  }
}
/* shared end */