/* shared */
html {
  @include rem-baseline;
}

body {
  padding-top: rem(76px);

  @include media-breakpoint-down(md) {
    padding-top: rem(54px);
  }
}

// button
.btn{
  width: rem(180px);
  font-size: rem(14px);
  line-height: rem(19px);
  font-weight: 300;
  letter-spacing: rem(0.638px);
  text-transform: uppercase;
  padding: rem(10px 10px 9px);
  border-radius: rem(6px); 
}

button:focus {
  outline: none;
}

// utility classes
.no-scroll {
  overflow: hidden;
}

.no-md-scroll {

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.d-md-none{

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}
/* Page Section */
.section-banner {
  min-height: rem(825px);
}

.section-content{
  padding:rem(100px 0 80px);

  @include media-breakpoint-down(sm){
    padding: 0;
  }

  .btn-wrap{
    @include flexbox();
    @include justify-content(center);

    @include media-breakpoint-down(sm){
      @include flex-direction(column);
      @include align-items(center);
      margin: 0 0 rem(90px);
    }

    .btn-gray{
      margin-right: rem(20px);
    
      @include media-breakpoint-down(sm){
        margin: 0 0 rem(20px);
      }
    }
  }
}
/* Page Section end */

.card-wrap{
  margin: 0 0 rem(24px);

  @include media-breakpoint-down(sm){
    margin: 0 rem(-15px 24px);
  }

  .card-expertise:nth-of-type(even) {
    background-color: $gray-95;
  }
}

.card-expertise{
  border:0;
  border-radius: 0;
  background-color: transparent;
  padding: rem(40px 16px);

  .card-body{
    position: relative;
    @include flex(0 0 80%);
    max-width: 80%;
    margin:0 auto;
    padding: 0;

    @include media-breakpoint-down(sm){
      @include flex(1 1 auto);
      max-width: 100%;
      text-align: center;
    }
  }

  .card-title{
    font-size:rem(36px);
    font-weight: 100;
    line-height: rem(44px);
    margin-bottom:rem(16px);

    @include media-breakpoint-down(sm) {
      font-size:rem(32px);
      line-height: rem(39px);
      margin: 0 0 rem(32px);
    }
  }

  .card-img{
    width:auto;
    height:rem(178px);
    margin-bottom:rem(16px);
  }

  .card-text{
    font-size: rem(16px);
    font-weight: 100;
    line-height: rem(24px);
    letter-spacing: 1px;

    @include media-breakpoint-down(sm) {
     font-size:rem(14px);
     line-height: rem(21px);
     text-align: left;
    }
  }
}

.scroll-top {
  position: absolute;
  top: rem(20px);
  right: 0;

  @include media-breakpoint-down(sm) {
    position: relative;
    top: unset;
    right: unset;
    text-align: right;
  }

  .btn-scroll {
    font-size: rem(14px);
    font-weight: 100;
    line-height: rem(20px);
    color:$gray-20;
    padding: rem(4px 8px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media-breakpoint-down(sm) {
      font-size: rem(10px);
    }
  }
}
/* shared end */
