.section-contactus{

  &.section-banner{
    min-height: rem(527px);
    background: transparent url("#{$assets_url}images/contact-banner.jpg") no-repeat bottom center;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      min-height: rem(360px);
    }
  }

  .txt-display {
    font-size: rem(46px);
    line-height: rem(55px);
    font-weight: 300;
    letter-spacing: 1px;
    margin: rem(100px 0);
    text-align: center;
  }
}

.contact-form{
  background-color: $gray-96;
  text-align: center;

  @include media-breakpoint-down(sm) {
    padding: rem(65px 15px 0);
    margin: 0 rem(-15px);
  }

  .section-heading{
    font-size: rem(46px);
    font-weight: 300;
    line-height: rem(55px);
    margin-bottom: rem(80px);

    @include media-breakpoint-down(sm) {
      font-size: rem(32px);
      line-height: rem(39px);
      margin-bottom: rem(65px);
    }
  }

  p{
    font-size: rem(24px);
    font-weight: 300;
    line-height: rem(29px);
    margin-bottom: rem(48px);

    @include media-breakpoint-down(sm) {
      font-size: rem(16px);
      line-height: rem(19px);
      margin-bottom: rem(50px);
    }
  }
}

.form-contact{
  padding-bottom: rem(80px);
  text-align: left;
  width: 60%;
  margin: 0 auto rem(80px);
  padding: 0 rem(15px);

  @include media-breakpoint-down(md) {
    width: 90%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin: 0;
  }

  label{
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(17px);
  }
  .textarea-group{
    margin-bottom: rem(32px);
  }
  .captcha{
    margin-bottom:rem(32px);
    display: flex;
    justify-content: center;
  }
}
.form-newsletter{
  width: 60%;
  margin:0 auto;
  text-align: left;

  @include media-breakpoint-down(md) {
    width: 90%;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .form-row {
    @include align-items(flex-end);
    padding: 0 rem(15px);
  }

  .newsletter-content{
    display: flex;
    flex-direction: column;
    
  }

  label{
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(19px);
  }
}

.contactus-footer{
  background-color: $roman;
  padding:rem(87px 0 76px);
  color: $white;

  @include media-breakpoint-down(sm) {
    margin: 0 rem(-15px);
  }
}

.address{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: rem(77px);
  }

  i.icon-location{
    font-size: rem(45px);
    margin-bottom: rem(30px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(11px);
    }
  }

  p{
    font-size: rem(16px);
    font-weight: 300;
    line-height: rem(24px);

    @include media-breakpoint-down(sm) {
     text-align: center;
     }
  }
  a{
    color: $white
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: rem(80px);
  }

  i{
    font-size: rem(32px);
    margin-bottom: rem(38px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(11px);
    }
  }
}
.email{
  display: flex;
  flex-direction: column;
  align-items: center;

  i{
    font-size: rem(25px);
    margin-bottom: rem(38px);

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(11px);
     }
  }

  a{
    color: $white;
  }
}

.josh-email-links{
  display: flex;
  flex-direction: column;

  .social-media-links{

    @include media-breakpoint-down(md) {
      display: block !important;
    }
    @include media-breakpoint-down(sm) {
     display: none !important;
    }
    
  }
}

.address-wrap {
  width: 80%;
  padding: 0 rem(15px);
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  .list-contact {
    @include flexbox();
    @include align-items(baseline);
    margin: 0 0 rem(40px);

    @include media-breakpoint-down(sm) {
      @include flex-direction(column);
      @include align-items(center);
    }

    > li{
      @include flex(0 0 50%);
      max-width: 50%;
    }
  }

  .social-media-links {
    max-width: 50%;
    margin-left: auto;
    @include justify-content(center);
    padding: rem(40px 0 0);

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}