.section-home {
  min-height: calc(100vh - 76px);
  padding: rem(20px 0);
  background-color: $gray-96;

  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 54px);
  }

  @include media-breakpoint-down(sm) {
    min-height: unset;
  }

  .section-heading {
    font-size: rem(46px);
    line-height: rem(55px);
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: rem(38px);
      line-height: rem(45px);
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(32px);
      line-height: rem(39px);
    }
  }

  .link-box {
    text-align: right;

    a {
      font-size: rem(18px);
      line-height: rem(22px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: rem(0.5px);

      @include media-breakpoint-down(md) {
        font-size: rem(16px);
        line-height: rem(19px);
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(14px);
        line-height: rem(17px);
      }
    }

    i {
      font-size: rem(28px);
      margin-right: rem(12px);

      @include media-breakpoint-down(md) {
        font-size: rem(26px);
      }
    }
  }
}

/* Section Client */
.section-clients {
  background: $gray-96;

  @include media-breakpoint-up(lg) {
    @include flexbox();
    @include align-items(center);
  }

  .section-heading {
    margin: 0 0 rem(72px);
    color: $gray-40;
  }
}

.list-client {
  // width: 86%;
  margin: 0 rem(-6px);
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .justify-content-center;
  @extend .align-items-stretch;

  // @include media-breakpoint-down(md) {
  //   // width: 98%;
  //   margin: 0 auto rem(50px);
  // }

  li {
    // width: 20%;
    // padding: rem(0 12px);
    // margin: rem(0 0 24px);
    // min-height: 117px;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    padding: rem(0 6px);
    margin: rem(0 0 12px);

    // @include media-breakpoint-down(md) {
    //   width: 33.33%;
    // }

    // @include media-breakpoint-down(sm) {
    //   width: 33.33%;
    //   padding: rem(0 5px);
    //   margin: rem(0 0 10px);
    // }

    span {
      width: rem(194px);
      padding: rem(8px);
      border-radius: 9px;
      background-color: $white;
      height: 100%;
      // height: rem(124px);
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      // background-color: $white;
      // box-shadow: 0 0 16px 0 rgba(0,0,0,0.08);
      @include media-breakpoint-down(sm) {
        width: rem(145px);
      }
    }
  }
}

/* End */

.webp-bg-contact {
  background: transparent url("#{$assets_url}images/bg-contact.png.webp")
    no-repeat top center;
}
.no-webp-bg-contact {
  background: transparent url("#{$assets_url}images/bg-contact.png") no-repeat
    top center;
}
.section-contact {
  background-size: cover;
  padding: rem(142px 0 110px);

  @include media-breakpoint-up(lg) {
    // height: 60vh;
    @include flexbox();
    @include align-items(center);
  }

  @include media-breakpoint-down(md) {
    background: transparent none;
    padding: rem(56px 0);
  }

  .contact-wrap {
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    p {
      color: $gray-40;
      font-size: rem(28px);
      line-height: rem(39px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: rem(0.92233px);
      margin: rem(0 0 48px);

      @include media-breakpoint-down(sm) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }

    @include media-breakpoint-down(md) {
      margin: rem(0 0 56px);

      p {
        margin: 0;
      }

      .btn-secondary {
        display: none;
      }
    }
  }

  .mb-webp-bg-contact {
    @include media-breakpoint-down(md) {
      background: transparent url("#{$assets_url}images/bg-contact.png.webp")
        no-repeat top right;
    }
  }
  .mb-no-webp-bg-contact {
    @include media-breakpoint-down(md) {
      background: transparent url("#{$assets_url}images/bg-contact.png");
    }
  }

  .contact-banner {
    display: none;

    @include media-breakpoint-down(md) {
      background-size: cover;
      display: block;
      height: rem(217px);
      margin: rem(0 0 45px);
    }
  }

  .contact-number {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;

      h6 {
        color: $gray-40;
        font-size: rem(32px);
        line-height: rem(39px);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: rem(0.92233px);
        margin: rem(0 0 6px);

        @include media-breakpoint-down(sm) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }

      p {
        margin: 0;
        color: $gray-40;
        font-size: rem(16px);
        line-height: rem(22px);
        font-weight: 300;

        i {
          font-size: rem(24px);
          color: $olivine;
          padding-right: rem(12px);
        }
      }
    }
  }
}

// Parallax Scroll SCSS
.bg-props {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
// Parallax Scroll SCSS End

// .slick-dots li {
//   // height: 10px;
//   // width: 10px;
//   // background-color: red;
// }

.pull-right {
  float: right;
}

.pb-14 {
  padding-bottom: 14px;
}

.border-2 {
  border: 2px solid;
  border-color: #ffffff;
  width: 300px;
  height: 211px;
  border-radius: 16px 16px 16px 16px;
}

.bg-white {
  background-color: #ffffff;
}

.width-100 {
  width: 100px !important;
}

.succss-stories {
  font-size: 20px;

  li {
    text-decoration: none;
    color: #121212;
  }
}

.bullet {
  li,
  a {
    text-decoration: none;
    text-decoration-color: #333333;
    font-size: 20px;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
    @include media-breakpoint-down(sm) {
      color: #333333;
      &:hover {
        color: #333333;
      }
    }
  }
}

.height-adjust {
  height: 400px;
}

.border-radius {
  border-radius: 22px 22px 22px 22px;
  width: 120px;
}

.contact-us-btn {
  background-image: url("../images/contact_us_btn.png");
  width: 105px;
  height: 32px;
}

.banner-text-align > .banner-text {
  @include media-breakpoint-down(sm) {
    font-size: 33px;
    font-family: lato bold;
    line-height: 40px;
    color: #a8a8a8;
  }
}

.banner-text-align {
  position: relative;
  bottom: 30px;
  margin-left: 9px;
}

.banner-text-md {
  position: relative;
  top: 60px;
}

.banner-subtext-padding {
  line-height: 29px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.height-100 {
  height: 114px;
}

.h-52 {
  height: 52%;
}

.mt-140 {
  margin-top: 140px;
}

.top-pad-5 {
  padding-top: 5%;
}

.m-none {
  margin-top: none;
}

.gray-back {
  background: #dedede;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.d-xs-none {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.slick-active > .orange-color {
  background-color: #cf4338;
  width: 10px;
  height: 10px;
}

.slick-dots > :not(.slick-active) > .orange-color {
  background-color: #666;
  width: 10px;
  height: 10px;
}

.bottom-50 {
  bottom: -50px !important;
}

.main-container {
  height: 67px;

  @include media-breakpoint-down(sm) {
    height: 47px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.w-90 {
  width: 90%;
}

.align-self-center {
  align-self: center;
}

.text-orange {
  color: #cf4338;
  font-size: 13px;
}

.text-black {
  color: #03232d;
  font-size: 10px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-height: 20px; /* fallback */
  max-height: 100px;
}

.read-more {
  button {
    background-color: #ffffff;
    // float: right;
    font-size: 9px;
    padding: 4px;
    // margin-top: 14px;
    // height: 30px;
    // position: relative;
    // bottom: 5px;
    // width: 92px;
    width: 92px;
    border-radius: 15px 15px 15px 15px;
    &:hover,
    &:focus {
      color: #dc3545;
      border-color: #dc3545;
    }
  }
  // span {
  //   font-size: 9px;
  //   position: relative;
  //   bottom: 5px;
  // }

  .btn-secondary {
    // display: none;
    background-color: transparent;
  }
}

.font-size-20 {
  font-size: 20px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.carousel-arrow {
  width: 40px !important;
  height: 40px !important;
}

.size-30 {
  width: 30px;
  height: 30px;
}

.w-55 {
  width: 55%;
}

.bottom-94p {
  @include media-breakpoint-down(sm) {
    bottom: 94%;
  }
}

.disruption-margin {
  margin: 1rem 1rem !important;
}

.slider {
  margin: 0 auto;
  max-width: 1000px;
}

.close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  overflow: auto;
}

.injected-svg:hover {
  #MEDIA-2,
  .health,
  .video-player,
  #education-icon path,
  .sports,
  .insurance,
  #marketing-icon-2 path,
  text {
    fill: #cf4338;
  }
}

.injected-svg {
  max-width: 100%;
  height: auto;
}

.border-solid-left-1 {
  border-left: 1px solid #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  align-items: start;
}

.grid-item {
  display: grid;
  margin-bottom: 0.5rem;
}

.divider {
  height: 100%;
  align-self: stretch;
  justify-self: center;
  grid-column: 2;
  grid-row: 1 / span 4;
}

.top-2 {
  top: -2%;
}

.top-4 {
  top: -4%;
}

.gopher-guide {
  color: #cf4338;

  .close {
    color: #cf4338;
  }
}

.tech-list {
  height: 130px !important;
  text-align: left;
  padding: 30px;
}

.media-svg-logo {
  padding-right: 20px;
}

.book-share-card {
  padding: 20px;
  border: 1px solid black;
}

.section-news {
  background-color: #f8f9fa !important;

  @include media-breakpoint-up(sm) {
    padding: 4.5rem 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 3rem 0;
  }

  .active {
    border-bottom: 2px solid black;
  }

  .news-navbar {
    z-index: 1;

    a {
      color: gray;
      text-decoration: none !important;
    }
    &:hover {
      color: black;
    }
  }

  .pb-8 {
    padding-bottom: 30px;
  }

  .news-content {
    @include media-breakpoint-up(sm) {
      margin: 2.3rem;
    }

    @include media-breakpoint-down(sm) {
      margin: 0.5rem;
    }

    a {
      color: black;
    }
  }

  .btn-sm {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
  }

  .module {
    font-size: 0.9rem;
    margin: 0 0 1em 0;
    overflow: hidden;
  }
  .module p {
    margin: 0;
  }
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card-subtitle {
    padding: 10px;
  }
}
.news-mob-spinner-section {
  @include media-breakpoint-down(sm) {
    padding: 4rem;
  }
}

.nerd-img {
  @include media-breakpoint-up(sm) {
    min-height: 230px;
    max-height: 230px;
  }
  @include media-breakpoint-down(sm) {
    min-height: 150px;
    max-height: 150px;
  }
}

.bg-light-gray {
  background-color: $gray-96;
}

.main-banner-wrapper-mb {
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent url("../images/home/banner_mb.png") no-repeat bottom
    center;
  background-size: cover;
  flex-direction: column;
  padding-bottom: 48px;
  margin-top: 0;
  transition: all 1s ease;
  transition-delay: 1s;
  &.hide {
    margin-top: -328px;
  }
}

.main-banner-wrapper {
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent url("../images/home/banner.png") no-repeat bottom
    center;
  background-size: cover;
  flex-direction: column;
  padding-bottom: 48px;
  margin-top: 0;
  transition: all 1s ease;
  transition-delay: 1s;
  &.hide {
    margin-top: -307px;
    @media (min-width: 768px) and (max-width: 991.98px) {
      margin-top: -330px;
    }
  }
}

.banner-normal-text {
  margin-top: -10px;
  font-size: 16px;
  line-height: 20px;
  @include media-breakpoint-down(sm) {
    margin-top: -4px;
  }
}

.btn-banner-contact-us {
  margin-bottom: 8px;
}

.banner-heading-font-weight-bold {
  font-weight: 900;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 18px;
  }
}

.banner-secondary-heading-font-weight-bold {
  font-weight: 700;
  line-height: 0px;
  font-size: 24px;
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    line-height: 16px;
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.domain-section {
  padding: 0 85px;
  margin-bottom: 70px;
  @include media-breakpoint-down(md) {
    padding: 0;
    margin-bottom: 30px;
  }
  .domain-expertise-wrapper {
    margin: 0 -25px;
    list-style-type: none;
    @include media-breakpoint-down(sm) {
      margin: 0 -12px;
    }
  }

  .domain-expertise-content {
    position: relative;
    padding: 42px 25px 26px;
    background-color: rgba(239, 239, 239, 0.29);
    border: 1px solid $white;
    margin-right: -1px;
    margin-bottom: -1px;
    transform: scale(1);
    transition: transform 0.2s;
    z-index: 1;
    &:hover {
      background-color: #fff;
      transform: scale(1.1);
      transition: transform 0.2s;
      z-index: 2;
      @include media-breakpoint-down(sm) {
        background-color: unset;
        transform: none;
        transition: none;
        z-index: unset;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 12px;
    }
  }

  .domain-expertise-items {
    width: 200px;
    @include media-breakpoint-down(sm) {
      width: 120px;
    }
    img {
      width: 100%;
      height: 75px;
      padding: rem(8px);

      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
    h5 {
      color: #a5a5a5;
      font-size: rem(18px);
      line-height: 24px;
      letter-spacing: 0;
      @include media-breakpoint-down(sm) {
        font-size: rem(14px);
      }
    }
  }
}

.what-we-do-section {
  .domain-card {
    margin: 0 -25px;
    list-style-type: none;
  }
  .domain-card-content {
    padding: 0 8px;
    margin-bottom: 25px;
  }
  .domain-card-items {
    flex: 0 0 280px;
    max-width: 280px;
    height: 100%;
    background: #fcfcfc;
    padding: 12px;
    border-radius: 10px;
    img {
      width: 100%;
    }
    h5 {
      color: #7e88a5;
    }
    p {
      font-size: 12px;
    }
  }
}

// homepage slider css
.homepage-slider {
  padding: rem(0 60px);
  @include media-breakpoint-down(md) {
    padding: rem(20px 20px 40px);
  }
  .slider-item {
    padding: rem(50px) rem(30px) 0;
    @include media-breakpoint-down(sm) {
      padding: rem(10px) rem(15px) rem(30px);
    }
    h3,
    p,
    h6 {
      color: #333333;
    }
    h3 {
      line-height: rem(34px);
      font-weight: bold;
      letter-spacing: 0;
    }
    h6 {
      font-size: rem(18px);
      font-weight: bold;
    }
  }
  .slick-slider {
    background: url("../images/testimonials/Testimonial.svg") no-repeat center
      top;
  }
  .slick-dots {
    li {
      width: rem(28px);
      height: rem(2px);
      button {
        &::before {
          content: "";
          width: rem(28px);
          height: rem(2px);
          padding: 0;
          background-color: #d5cfcf;
          opacity: 0.5;
        }
      }
      &.slick-active {
        button {
          &::before {
            background-color: #cf4338;
          }
        }
      }
    }
  }
  .slick-next {
    background-image: url("../images/testimonials/next.png");
  }
  .slick-prev {
    background-image: url("../images/testimonials/Previous.png");
  }
  .slick-next,
  .slick-prev {
    height: 46px;
    width: 46px;
    position: absolute;
    background-size: 46px auto;
    background-repeat: no-repeat;
    z-index: 999;
    @include media-breakpoint-down(sm) {
      height: 30px;
      width: 30px;
      background-size: 30px auto;
    }
  }
  .slick-next,
  .slick-prev {
    top: 50%;

    &::before {
      content: "";
    }
  }
}

// technology-section
.section-technologies {
  padding: 30px 0;
  .technology-wrap {
    list-style-type: none;
    li {
      border-left: 2px solid #f1efef;
      border-right: 2px solid #f1efef;
      margin-left: -1px;
      margin-right: -1px;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
      a {
        width: 150px;
        @include media-breakpoint-down(sm) {
          width: 90px;
        }
      }
    }
  }
}

// success stories scss
.section-stories {
  background: transparent url("../images/successStories/success-bg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  @include media-breakpoint-down(sm) {
    background: transparent
      url("../images/successStories/success-mobile-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
  }
  .success-section-heading {
    position: absolute;
    left: 54%;
    top: 30%;
    color: $white;
    font-size: 42px;
    line-height: 51px;
    opacity: 0.85;
    letter-spacing: 0;
    @include media-breakpoint-down(md) {
      font-size: 36px;
    }
    @include media-breakpoint-down(sm) {
      left: -2%;
      top: 22%;
      font-size: 28px;
      transform: rotate(-90deg);
    }
  }
}
.story-wrap {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 450px;
  padding: 70px 0;
  margin: 0 70px;
  @include media-breakpoint-down(md) {
    margin: 0 25px;
  }
  @include media-breakpoint-down(sm) {
    width: 270px;
    height: 600px;
    margin: 0 auto;
    padding: 50px 0 40px;
  }
  .story-list-item {
    position: absolute;
    &.story-item-1 {
      left: 15%;
      @include media-breakpoint-down(lg) {
        left: 9%;
      }
      @include media-breakpoint-down(md) {
        left: 0;
      }
      @include media-breakpoint-down(sm) {
        right: 0;
        left: unset;
      }
    }
    &.story-item-2 {
      left: 32%;
      @include media-breakpoint-down(lg) {
        left: 30%;
      }
      @include media-breakpoint-down(md) {
        left: 26%;
      }
      @include media-breakpoint-down(sm) {
        right: 0;
        top: 32%;
        left: unset;
      }
    }
    &.story-item-3 {
      left: 41%;
      top: 47%;
      @include media-breakpoint-down(lg) {
        left: 41%;
      }
      @include media-breakpoint-down(md) {
        top: 48%;
        left: 39%;
      }
      @include media-breakpoint-down(sm) {
        top: 44%;
        left: 0;
      }
    }
    &.story-item-4 {
      left: 58%;
      top: 47%;
      @include media-breakpoint-down(lg) {
        top: 47%;
        left: 62%;
      }
      @include media-breakpoint-down(md) {
        top: 48%;
        left: 65%;
      }
      @include media-breakpoint-down(sm) {
        top: 67%;
        left: 0;
      }
    }
    a {
      background: transparent url("../images/successStories/honey-shape.png")
        no-repeat;
      display: block;
      background-size: contain;
      height: 180px;
      width: 180px;
      background-position: center;
      position: relative;
      &:hover {
        background: transparent
          url("../images/successStories/honey_shape_hover.png") no-repeat;
        background-size: contain;
        background-position: center;
        @include media-breakpoint-down(sm) {
          background: transparent
            url("../images/successStories/honey-shape-mobile.png") no-repeat;
          background-size: contain;
        }
      }
      @include media-breakpoint-down(sm) {
        background: transparent
          url("../images/successStories/honey-shape-mobile.png") no-repeat;
        background-size: contain;
        height: 150px;
        width: 150px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-down(sm) {
          width: 100px;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-45%, -50%);
        }
      }
    }
  }
}
// Innovation section scss
.innovation-section {
  .innovations-wrap {
    background-image: url("../images/innovations/innovations-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
      background-image: url("../images/innovations/innovation-mobile.png");
      height: 550px;
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }
    @include media-breakpoint-down(sm) {
      background-position: center;
      height: 450px;
    }

    .innovation-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin-bottom: -10%;
      padding-left: 0;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-top: 50px;
        margin-left: -20px;
        margin-bottom: 0;
      }
    }
    .innovation-items {
      background: $white;
      list-style-type: none;
      width: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: 20px;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include media-breakpoint-down(md) {
        margin: 10px;
        height: 150px;
        width: 250px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      @include media-breakpoint-down(sm) {
        height: 100px;
        width: 200px;
      }
    }
  }
}
