.josh-content {
  padding: rem(56px) 0 0;
  background-color: #f7f7f7;

  @include media-breakpoint-up(lg) {
    padding: rem(76px) 0 0;
  }
}

.banner-section {
  z-index: 0;
}

.media-wrapper {
  padding: rem(24px) rem(24px) rem(56px);
  flex-wrap: wrap;
  display: flex;
  // display: grid;
  // grid-template-columns: auto;
  @include media-breakpoint-up(lg) {
    padding: rem(80px) 0 rem(32px);
    // grid-template-columns: auto auto auto;
  }
}

.news-banner-section {
  &.white-paper-banner {
    .banner-wrap {
      background: url("../../assets/images/revampImages/our_white_paper_banner.jpeg")
        no-repeat;
      background-size: cover;
    }
  }

  &.publication-banner {
    .banner-wrap {
      background: url("../../assets/images/revampImages/publications_banner.jpeg")
        no-repeat;
      background-size: cover;
    }
  }
}

.article-content-wrapper {
  // margin-top: rem(24px);
  // margin-bottom: rem(56px);
  padding: rem(24px) 0 rem(48px);

  @include media-breakpoint-up(lg) {
    padding: rem(80px) 0;
  }
}

.testimonial-section {
  padding: rem(24px) 0 rem(56px);
}
