.josh-content {
  padding: rem(56px) 0 0;
  background-color: #f7f7f7;

  @include media-breakpoint-up(lg) {
    padding: rem(76px) 0 0;
  }
}

.banner-section {
  z-index: 0;
}

.media-wrapper {
  padding: rem(24px) rem(8px) rem(56px);
  flex-wrap: wrap;
  display: flex;
  // display: grid;
  // grid-template-columns: auto;
  @include media-breakpoint-up(lg) {
    padding: rem(80px) 0 rem(32px);
    // grid-template-columns: auto auto auto;
  }
}

.news-banner-section {
  &.white-paper-banner {
    .banner-wrap {
      background: url("../../assets/images/revampImages/our_white_paper_banner.jpeg")
        no-repeat;
      background-size: cover;
    }
  }

  &.publication-banner {
    .banner-wrap {
      background: url("../../assets/images/revampImages/publications_banner.jpeg")
        no-repeat;
      background-size: cover;
    }
  }
}

.article-content-wrapper {
  padding: rem(24px) 0 rem(48px);

  @include media-breakpoint-up(md) {
    margin: 0 rem(-16px);
    justify-content: center;
  }

  @include media-breakpoint-up(lg) {
    padding: rem(80px) 0;
    margin: 0;
  }
}

.testimonial-section {
  padding: rem(24px) 0 rem(56px);
}

.testimonial-banner {
  background: url("../../assets/images/revampImages/testimonial-bg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 230px;

  h2 {
    font-size: rem(32px);
    line-height: rem(37px);
    color: $white;

    @include media-breakpoint-up(lg) {
      font-size: rem(48px);
      line-height: rem(56px);
    }
  }
}
