.media-wrapper {
  padding: 0 rem(24px);
  margin: rem(24px) 0 rem(32px);
  flex-wrap: wrap;
  background-color: gray;
  display: flex;
  // display: grid;
  // grid-template-columns: auto;
  @include media-breakpoint-up(lg) {
    padding: 0;
    margin: rem(80px) 0 rem(32px);
    // grid-template-columns: auto auto auto;
  }
}

.news-banner-section {
  &.white-paper-banner {
    .news-banner-wrap {
      background: url("../../assets/images/revampImages/our_white_paper_banner.jpeg")
        no-repeat;
      background-size: cover;
    }
  }
}

.article-content-wrapper {
  margin-top: rem(24px);
  margin-bottom: rem(56px);

  @include media-breakpoint-up(lg) {
    margin: rem(80px) 0;
  }
}
