.section-home {
  min-height: calc(100vh - 76px);
  padding: rem(80px 0);
  background-color: $gray-96;

  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 54px);
  }

  @include media-breakpoint-down(sm) {
    min-height: unset;
  }

  .section-heading {
    font-size: rem(46px);
    line-height: rem(55px);
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: rem(38px);
      line-height: rem(45px);
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(32px);
      line-height: rem(39px);
    }
  }

  .link-box{
    text-align: right;

    a{
      font-size: rem(18px);
      line-height: rem(22px);
      font-weight: 300;
      color: $gray-20;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: rem(0.5px);

      @include media-breakpoint-down(md) {
        font-size: rem(16px);
        line-height: rem(19px);
      }

      @include media-breakpoint-down(sm) {
        font-size: rem(14px);
        line-height: rem(17px);
      }
    }

    i{
      font-size: rem(28px);
      margin-right: rem(12px);

      @include media-breakpoint-down(md) {
        font-size: rem(26px);
      }
    }
  }
}

.section-overlay {
  @include flexbox();
  @include flex-direction(column);
  height: 200vh;
  padding: 0;
  background: $gray-10 url("#{$assets_url}images/home-banner-clear.jpeg");

  @include media-breakpoint-down(md) {
    height: 190vh;

    &.bg-props {
      background: #121212 url("#{$assets_url}images/home-banner-mobile.jpg") no-repeat;
      background-position: top right;
      background-size: 100% auto;
    }
  }

  .section-slide {
    min-height: calc(100vh - 76px);
    height:  calc(100vh - 76px);

    @include media-breakpoint-down(md) {
    height:  calc(100vh - 54px);
    }
  }

  .overlay-container {
    @include flex(1);
    position: relative;
  }

  .overlay-content{
    position: absolute;
    width: rem(490px);
    display: inline-block;
    left: 0;
    text-align: center;

    span{
      padding:rem(10px) 0;
      color: $white;
      font-weight: 300;
      text-shadow: 0 0 rem(16px) rgba(255, 157, 0, 1);

      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }

    @include media-breakpoint-down(md) {
      left: 50%;
      @include translate(-50%, 0);
    }

    @include media-breakpoint-down(sm) {
      width: unset;
      left: rem(15px);
      right: rem(15px);
      @include translate(0, 0);
    }
  }

  .-slide1 {
    top: calc(50vh - 227px);

    @include media-breakpoint-down(sm) {
      top: calc(50vh - 217px);
    }
  }

  .-slide2{
    top: calc(50vh - 107px);

    @include media-breakpoint-down(sm) {
      top: calc(50vh - 187px);
    }

    h1{
      margin: 0 0 rem(48px);
    }

    p{
      font-size: rem(20px);
      line-height: rem(26px);
      letter-spacing: 1px;
      font-weight: 300;
      margin: 0 0 rem(13px);
      text-transform: none;
      text-align: left;
    }
  }

  h1{
    color: $white;
    text-shadow: 0 0 rem(16px) rgba(255, 157, 0, 1);
    margin: 0;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      font-weight: 300;
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(40px);
      margin: 0 0 rem(16px);
    }
  }

  h3{
    color: $white;
    text-shadow: 0 0 rem(16px) rgba(255, 157, 0, 1);
    margin: 0 0 rem(48px);
    line-height: rem(42px);
    font-weight: 300;

    @include media-breakpoint-down(md) {
      font-weight: 300;
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(24px);
      line-height: rem(32px);
    }
  }

  .btn{
    margin: 0 0 rem(14px);
  }

  p{
    font-size: 16px;
    color: $white;
    text-shadow: 0 0 rem(16px) rgba(255, 157, 0, 1);
    letter-spacing: 2px;
    margin: 0 0 rem(17px);
    line-height: normal;
    text-transform: uppercase;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      font-weight: 300;
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(16px);
      line-height: rem(23px);
    }
  }

  .scroll-down {
    position: absolute;
    top: calc(100vh - 142px);

    @include media-breakpoint-down(md) {
      top: calc(100vh - 102px);
    }

    @include media-breakpoint-down(sm) {
      top: calc(100vh - 92px);
      display: inline-block !important;
    }
  }
}

.section-expertise {
  background: $galliano url("#{$assets_url}images/home-industries-bg.jpg") repeat top center;

  @include media-breakpoint-up(lg) {
    @include flexbox();
    @include align-items(center);
  }

  @include media-breakpoint-down(md) {
    height: unset;
  }

  .section-heading{
    margin: 0 0 rem(65px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(50px);
    }
  }

  .img-expertise{
    max-width: rem(512px);
    margin: 0 0 rem(80px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(50px);
    }
  }
}

.section-work {
  background: $fountain-blue url("#{$assets_url}images/home-service-bg.jpg") no-repeat top center;

  @include media-breakpoint-up(lg) {
    @include flexbox();
    @include align-items(center);
  }

  .section-heading{
    margin: 0 0 rem(46px);
  }
}

/* Section Client */
.section-clients {
  background: $gray-96;

  @include media-breakpoint-up(lg) {
    @include flexbox();
    @include align-items(center);
  }

  .section-heading {
    margin: 0 0 rem(72px);
    color: $gray-40;
  }
}

.list-client{
  width: 86%;
  margin: 0 auto rem(80px);
  @extend .d-flex;
  @extend .flex-wrap;

  @include media-breakpoint-down(md) {
    width: 98%;
    margin: 0 auto rem(50px);
  }

  li{
    width: 20%;
    padding: rem(0 12px);
    margin: rem(0 0 24px);

    @include media-breakpoint-down(md) {
      width: 33.33%;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
      padding: rem(0 5px);
      margin: rem(0 0 10px);
    }

    a{
      // height: rem(124px);
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      background-color: $white;
      box-shadow: 0 0 16px 0 rgba(0,0,0,0.08);
    }
  }
}

/* End */

.section-about {
  background: $roman url("#{$assets_url}images/home-aboutus-bg.jpg") no-repeat top center;

  @include media-breakpoint-up(lg) {
    @include flexbox();
    @include align-items(center);
  }

  .section-heading {
    margin: 0 0 rem(30px);

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(50px);
    }
  }

  .about-wrap{
    @extend .d-flex;

    @include media-breakpoint-down(md) {
      @include flex-direction(column);
    }
  }

  .stats-box{
    @extend .d-flex;
    @extend .flex-column;
    @include justify-content(space-between);
    @include flex(0 0 30%);
    padding: rem(20px 8px);

    @include media-breakpoint-down(md) {
      @include order(2);
      padding: rem(0 8px);
    }
  }

  .stats{
    color: $white;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: 0 0 rem(32px);
    }

    h4{
      font-size: rem(40px);
      line-height: rem(48px);
      font-weight: 300;
      margin: 0 0 rem(4px);
      opacity: 0.80;
    }

    p{
      font-size: rem(13px);
      line-height: rem(18px);
      font-weight: 300;
      margin: 0;
      letter-spacing: 1px;
      opacity: 0.80;
    }
  }

  .stats-button{

    .btn{

      &:hover{
        color: $roman;
        font-weight: 300;
      }
    }
  }

  .about-banner{
    @include flex(0 0 40%);
    text-align: center;

    @include media-breakpoint-down(md) {
      @include order(1);
      margin: 0 0 rem(36px);
    }
  }
}

.section-contact {
  background: transparent url("#{$assets_url}images/bg-contact.png") no-repeat top center;
  background-size: cover;
  padding: rem(142px 0 110px);

  @include media-breakpoint-up(lg) {
    // height: 60vh;
    @include flexbox();
    @include align-items(center);
  }

  @include media-breakpoint-down(md) {
    background: transparent none;
    padding: rem(56px 0);
  }

  .contact-wrap{
    text-align: center;

    p{
      color: $gray-40;
      font-size: rem(28px);
      line-height: rem(39px);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: rem(0.92233px);
      margin: rem(0 0 48px);

      @include media-breakpoint-down(sm) {
        font-size: rem(20px);
        line-height: rem(24px);
      }
    }

    @include media-breakpoint-down(md) {
      margin: rem(0 0 56px);

      p{
        margin: 0;
      }

      .btn-secondary {
        display: none;
      }
    }
  }

  .contact-banner{
    display: none;

    @include media-breakpoint-down(md) {
      background: transparent url("#{$assets_url}images/bg-contact.png") no-repeat top right;
      background-size: cover;
      display: block;
      height: rem(217px);
      margin: rem(0 0 45px);
    }
  }

  .contact-number {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;

      h6 {
        color: $gray-40;
        font-size: rem(32px);
        line-height: rem(39px);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: rem(0.92233px);
        margin: rem(0 0 6px);

        @include media-breakpoint-down(sm) {
          font-size: rem(20px);
          line-height: rem(24px);
        }
      }

      p{
        margin: 0;
        color: $gray-40;
        font-size: rem(16px);
        line-height: rem(22px);
        font-weight: 300;

        i{
          font-size: rem(24px);
          color: $olivine;
          padding-right: rem(12px);
        }
      }
    }
  }
}

.section-spacer {
  height: 100vh;

  // iPad/Tablet (Portrait/Landscape) and Below(All Mobile Screens)
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    display: none !important;
  }
}

// Parallax Scroll SCSS
.bg-props {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
// Parallax Scroll SCSS End
