%footer.footer
  .container
    .row
      .col-lg-3.col-sm-3
        %h1 contact info
        %address
          %p Address: 6, Thube Park,
          %p Shivajinagar, Pune - 411005,
          %p Maharashtra, India,
          %p Phone : +91 - 20 - 25539995
          %p
            Email :
            %a{:href => "javascript:;"} info@joshsoftware.com
      .col-lg-5.col-sm-5
        %h1 latest tweet
        .tweet-box
          %i.icon-twitter
          %em
            Please follow
            %a{:href => "javascript:;"} @joshsoftware
            for all future updates of us!
            %a{:href => "javascript:;"} twitter.com/joshsoftware
      .col-lg-3.col-sm-3.col-lg-offset-1
        %h1 stay connected
        %ul.social-link-footer.list-unstyled
          %li
            %a{:href => "https://facebook.com/joshsoftware", :target => "_blank"}
              %i.icon-facebook
          %li
            %a{:href => "https://twitter.com/joshsoftware", :target => "_blank"}
              %i.icon-twitter
          %li
            %a{:href => "http://www.linkedin.com/company/josh-software-private-limited", :target => "_blank"}
              %i.icon-linkedin
          %li
            %a{:href => "https://github.com/joshsoftware", :target => "_blank"}
              %i.icon-github
          %li
            %a{:href => "#"}
              %i.icon-google-plus
          /
            %li
              %a{:href => "#"}
                %i.icon-dribbble
            %li
              %a{:href => "#"}
                %i.icon-skype
            %li
              %a{:href => "#"}
                %i.icon-youtube
