@import "../../assets/stylesheets/core";

.josh-leadership-wrapper {
  padding: 2rem 0 0;
}

.leadership-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0 1rem;

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 434px);
    gap: 0.75rem;
    margin: 0;
  }

  &:not(:first-child) {
    margin-top: 0.5rem;
    @include media-breakpoint-up(lg) {
      margin-top: 0.75rem;
    }
  }
}

.leadership-item {
  .leadership-item-card {
    height: 12.1875rem;

    @include media-breakpoint-up(md) {
      height: unset;
    }
  }
  .leader-profile-wrap {
    img {
      height: 100%;
    }
  }
  .leader-profile-wrap,
  .leader-info {
    flex: 0 0 50%;
  }

  .leader-info {
    padding: 0.75rem;
    .quotes-img {
      width: 1.5rem;
      height: 1.25rem;
    }

    p,
    h5,
    label {
      color: $white;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.1875rem;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(lg) {
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }
    }

    h5,
    label {
      font-size: 0.6875rem;
      line-height: 0.9375rem;

      @include media-breakpoint-up(lg) {
        font-size: 0.875rem;
        line-height: 1.1875rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 0.75rem;
      left: -0.5625rem;
      border-top: 0.625rem solid transparent;
      border-bottom: 0.625rem solid transparent;
      border-right: 0.625rem solid $north-gray;
    }

    &.-light-grey {
      background-color: $north-gray;
      &::before {
        border-right: 0.625rem solid $north-gray;
      }
    }

    &.-dark-blue {
      background-color: $blue-smart;
      &::before {
        border-right: 0.625rem solid $blue-smart;
      }

      &::after {
        border-left: 0.625rem solid $blue-smart;
      }
    }
    &.-light-blue {
      background-color: $jordy-blue;
      &::before {
        border-right: 0.625rem solid $jordy-blue;
      }
      &::after {
        border-left: 0.625rem solid $jordy-blue;
      }
    }

    &.-dark-grey {
      background-color: $mortor;
      &::before {
        border-right: 0.625rem solid $mortor;
      }
      &::after {
        border-left: 0.625rem solid $mortor;
      }
    }
  }

  &.founders-col {
    order: 2;

    @include media-breakpoint-up(lg) {
      order: unset;
    }
  }

  &:nth-child(even) {
    .leadership-item-card {
      flex-direction: row-reverse;
    }
    .leader-info {
      &::before {
        content: unset;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: 0.75rem;
        right: -0.5625rem;
        border-top: 0.625rem solid transparent;
        border-bottom: 0.625rem solid transparent;
        border-left: 0.625rem solid $north-gray;
      }

      &.-light-blue {
        &::after {
          border-left: 0.625rem solid $jordy-blue;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .leadership-item-card {
        flex-direction: unset;
      }
      .leader-info {
        &::after {
          content: unset;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          top: 0.75rem;
          left: -0.5625rem;
          border-top: 0.625rem solid transparent;
          border-bottom: 0.625rem solid transparent;
          border-right: 0.625rem solid $north-gray;
        }

        &.-light-blue {
          &::before {
            border-right: 0.625rem solid $jordy-blue;
          }
        }
      }
    }
  }
}

.leadership-row {
  &.-founders-row {
    .leadership-item-card {
      &:last-child {
        margin-top: 0.5rem;

        @include media-breakpoint-up(lg) {
          margin-top: 0.75rem;
        }

        .leader-info {
          &::before {
            content: unset;
          }

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            top: 0.75rem;
            right: -0.5625rem;
            border-top: 0.625rem solid transparent;
            border-bottom: 0.625rem solid transparent;
            border-left: 0.625rem solid $blue-smart;
          }
        }
      }
    }
  }

  &.-leaders-row {
    .leadership-item {
      &:nth-child(4n + 3),
      &:nth-child(4n + 4) {
        .leadership-item-card {
          @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;

            .leader-info {
              &::before {
                content: unset;
              }

              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                top: 0.75rem;
                right: -0.5625rem;
                border-top: 0.625rem solid transparent;
                border-bottom: 0.625rem solid transparent;
                border-left: 0.625rem solid $north-gray;
              }

              &.-light-blue {
                &::after {
                  border-left: 0.625rem solid $jordy-blue;
                }
              }

              &.-dark-grey {
                &::after {
                  border-left: 0.625rem solid $mortor;
                }
              }
            }
          }
        }
      }
    }
  }
}

.professional-platforms {
  a {
    background-color: $white;
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;

    i {
      color: $north-gray;
      font-size: 1rem;
    }

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.leadership-description {
  margin-bottom: 1rem;
  padding: 0 1rem;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    padding: 0 2rem;
  }
  h1 {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: $gray-11;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(lg) {
      font-size: 3.125rem;
      line-height: 3.6875rem;
      text-align: left;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.375rem;
    color: $gray-11;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
