/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.josh-leadership-wrapper {
  padding: 2rem 0 0; }

.leadership-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0 1rem; }
  @media (min-width: 768px) {
    .leadership-row {
      grid-template-columns: repeat(1, 434px); } }
  @media (min-width: 992px) {
    .leadership-row {
      grid-template-columns: repeat(2, 434px);
      gap: 0.75rem;
      margin: 0; } }
  .leadership-row:not(:first-child) {
    margin-top: 0.5rem; }
    @media (min-width: 992px) {
      .leadership-row:not(:first-child) {
        margin-top: 0.75rem; } }

.leadership-item .leadership-item-card {
  height: 12.1875rem; }
  @media (min-width: 768px) {
    .leadership-item .leadership-item-card {
      height: unset; } }

.leadership-item .leader-profile-wrap img {
  height: 100%; }

.leadership-item .leader-profile-wrap,
.leadership-item .leader-info {
  flex: 0 0 50%; }

.leadership-item .leader-info {
  padding: 0.75rem; }
  .leadership-item .leader-info .quotes-img {
    width: 1.5rem;
    height: 1.25rem; }
  .leadership-item .leader-info p,
  .leadership-item .leader-info h5,
  .leadership-item .leader-info label {
    color: #fff; }
  .leadership-item .leader-info p {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    margin-bottom: 0.5rem; }
    @media (min-width: 992px) {
      .leadership-item .leader-info p {
        font-size: 0.875rem;
        margin-bottom: 1rem; } }
  .leadership-item .leader-info h5,
  .leadership-item .leader-info label {
    font-size: 0.6875rem;
    line-height: 0.9375rem; }
    @media (min-width: 992px) {
      .leadership-item .leader-info h5,
      .leadership-item .leader-info label {
        font-size: 0.875rem;
        line-height: 1.1875rem; } }
  .leadership-item .leader-info::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0.75rem;
    left: -0.5625rem;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-right: 0.625rem solid #697579; }
  .leadership-item .leader-info.-light-grey {
    background-color: #697579; }
    .leadership-item .leader-info.-light-grey::before {
      border-right: 0.625rem solid #697579; }
  .leadership-item .leader-info.-dark-blue {
    background-color: #5886b2; }
    .leadership-item .leader-info.-dark-blue::before {
      border-right: 0.625rem solid #5886b2; }
    .leadership-item .leader-info.-dark-blue::after {
      border-left: 0.625rem solid #5886b2; }
  .leadership-item .leader-info.-light-blue {
    background-color: #77a9d9; }
    .leadership-item .leader-info.-light-blue::before {
      border-right: 0.625rem solid #77a9d9; }
    .leadership-item .leader-info.-light-blue::after {
      border-left: 0.625rem solid #77a9d9; }
  .leadership-item .leader-info.-dark-grey {
    background-color: #575353; }
    .leadership-item .leader-info.-dark-grey::before {
      border-right: 0.625rem solid #575353; }
    .leadership-item .leader-info.-dark-grey::after {
      border-left: 0.625rem solid #575353; }

.leadership-item.founders-col {
  order: 2; }
  @media (min-width: 992px) {
    .leadership-item.founders-col {
      order: unset; } }

.leadership-item:nth-child(even) .leadership-item-card {
  flex-direction: row-reverse; }

.leadership-item:nth-child(even) .leader-info::before {
  content: unset; }

.leadership-item:nth-child(even) .leader-info::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 0.75rem;
  right: -0.5625rem;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid #697579; }

.leadership-item:nth-child(even) .leader-info.-light-blue::after {
  border-left: 0.625rem solid #77a9d9; }

@media (min-width: 992px) {
  .leadership-item:nth-child(even) .leadership-item-card {
    flex-direction: unset; }
  .leadership-item:nth-child(even) .leader-info::after {
    content: unset; }
  .leadership-item:nth-child(even) .leader-info::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0.75rem;
    left: -0.5625rem;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-right: 0.625rem solid #697579; }
  .leadership-item:nth-child(even) .leader-info.-light-blue::before {
    border-right: 0.625rem solid #77a9d9; } }

.leadership-row.-founders-row .leadership-item-card:last-child {
  margin-top: 0.5rem; }
  @media (min-width: 992px) {
    .leadership-row.-founders-row .leadership-item-card:last-child {
      margin-top: 0.75rem; } }
  .leadership-row.-founders-row .leadership-item-card:last-child .leader-info::before {
    content: unset; }
  .leadership-row.-founders-row .leadership-item-card:last-child .leader-info::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 0.75rem;
    right: -0.5625rem;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-left: 0.625rem solid #5886b2; }

@media (min-width: 992px) {
  .leadership-row.-leaders-row .leadership-item:nth-child(4n + 3) .leadership-item-card, .leadership-row.-leaders-row .leadership-item:nth-child(4n + 4) .leadership-item-card {
    flex-direction: row-reverse; }
    .leadership-row.-leaders-row .leadership-item:nth-child(4n + 3) .leadership-item-card .leader-info::before, .leadership-row.-leaders-row .leadership-item:nth-child(4n + 4) .leadership-item-card .leader-info::before {
      content: unset; }
    .leadership-row.-leaders-row .leadership-item:nth-child(4n + 3) .leadership-item-card .leader-info::after, .leadership-row.-leaders-row .leadership-item:nth-child(4n + 4) .leadership-item-card .leader-info::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 0.75rem;
      right: -0.5625rem;
      border-top: 0.625rem solid transparent;
      border-bottom: 0.625rem solid transparent;
      border-left: 0.625rem solid #697579; }
    .leadership-row.-leaders-row .leadership-item:nth-child(4n + 3) .leadership-item-card .leader-info.-light-blue::after, .leadership-row.-leaders-row .leadership-item:nth-child(4n + 4) .leadership-item-card .leader-info.-light-blue::after {
      border-left: 0.625rem solid #77a9d9; }
    .leadership-row.-leaders-row .leadership-item:nth-child(4n + 3) .leadership-item-card .leader-info.-dark-grey::after, .leadership-row.-leaders-row .leadership-item:nth-child(4n + 4) .leadership-item-card .leader-info.-dark-grey::after {
      border-left: 0.625rem solid #575353; } }

.professional-platforms a {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem; }
  .professional-platforms a i {
    color: #697579;
    font-size: 1rem; }
  .professional-platforms a:not(:first-child) {
    margin-left: 0.5rem; }
  .professional-platforms a:hover {
    text-decoration: none; }

.leadership-description {
  margin-bottom: 1rem;
  padding: 0 1rem; }
  @media (min-width: 992px) {
    .leadership-description {
      margin-bottom: 0;
      padding: 0 2rem; } }
  .leadership-description h1 {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: #1c1c1c;
    margin-bottom: 1.5rem; }
    @media (min-width: 992px) {
      .leadership-description h1 {
        font-size: 3.125rem;
        line-height: 3.6875rem;
        text-align: left; } }
  .leadership-description p {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #1c1c1c;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify; }
    @media (min-width: 992px) {
      .leadership-description p {
        display: block; } }
