extends ./layouts/bootstrap.jade

block vars
  -var page='Contact Us'

block content
  section.section-contactus.section-banner
  section.section-contactus
    .container
      .contact-form.section-content
        h1.section-heading We’d love to hear from you!
        p Reach us by using this form
        form.form-contact(data-toggle="validator",id='contact-form')
          .form-row
            .col-md-6
              .form-group
                label(for="input-fname") Name
                span.text-danger *
                input#input-fname.form-control(type="text",required)
              .form-group
                label(for="input-email") Email
                span.text-danger *
                input#inputEmail.form-control(type="email",required)
              .form-group
                label(for="inputnumber") Contact Number
                input#inputnumber.form-control(type="text")
              .form-group
                label(for="input-organization") Organization
                span.text-danger *
                input#input-organization.form-control(type="text",required)
              .form-group
                label(for="inputcompany") Job Title
                input#inputcompany.form-control(type="text")
              .form-group
                label(for="exampleFormControlSelect1") You are:
                select#exampleFormControlSelect1.form-control(aria-describedby="form-control")
                  option - Please Select -
                  option 1
                  option 2
                small.text-center(id="form-control", class="form-text text-muted") (Potential Customer; Partner or Alliance; Job Seeker)
            .col-md-6
              .form-group
                label(for="exampleFormControlTextarea1") How can we help you?
                textarea(class="form-control",id="exampleFormControlTextarea1" ,rows="7")
              .g-recaptcha(data-sitekey='6LcJHvsSAAAAANmruZ9e8eYIq1TyJeZC4Zq6YhDG',data-callback="recaptchaCallback",data-expired-callback="recaptchaExpired")
              .btn-wrap
                button.btn.btn-gray(type='submit', id='contact-us-btn') Submit
        form.form-newsletter
          .form-row
            .form-group.col-md-6
              label(for="exampleInputEmail1") Interested in our Monthly Newsletter?
              input(type="email",class="form-control",id="exampleInputEmail1", aria-describedby="emailHelp", placeholder="Enter your Email here")
            .col-md-6
              .btn-wrap
                button.btn.btn-outline-gray(type='submit') Subscribe
      .contactus-footer
        .row
          .col-sm-4
            .address
              i.icon-location
              p JOSH SOFTWARE PVT. LTD.
                br
                |A13/14 Sunflower Building, 5th Floor, 
                br
                |Survey No. 77/1, Mahalunge Baner Road, 
                br
                |Baner, Pune - 411 045, 
                br
                |Maharashtra, India.
          .col-sm-3
            .contact
              i.icon-phone
              p.font-weight-light +91-20-65313161
          .col-sm-5
            .josh-email-links
              .email
                i.icon-mail
                a.font-weight-light(href="mailto:info@joshsoftware.com") info@joshsoftware.com
      p.txt-display And <br>Disrupt Your Industry
