extends ./layouts/parallax-layout.jade

block content
  #skrollr-body
    section#bannerSlide.section-home.section-overlay.bg-props(style='background-image:url(./images/home-banner.jpg)', data-anchor-target='#bannerSlide')
      .container.overlay-container
        .overlay-content.-slide1.animated.fadeIn
          h1.display-4 INNOVATION <br>DISRUPTION
          h3 IS THE WAY WE CHANGE <br>THE GAME
          a.btn.btn-outline-danger.text-white(href="contact-us.html") Contact us
          p to change yours
        .overlay-content.-slide2
          h1 DISRUPT YOUR INDUSTRY
          p We partner with our clients to conceptualize and create sustainable web-based solutions, enabling high performance and growth in their businesses. We deliver business consultation to simplify technological complexities for better industry practices.
        a.scroll-down.text-white(href="javascript:void(0);", data-top="opacity: 0", data-bottom="opacity: 1")
          i.icon-angle-double-down

    section.section-spacer

    section#expertiseSlide.section-home.section-expertise.bg-props(style='background-image:url(./images/home-industries.jpg)', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#expertiseSlide')
      .container
        h1.section-heading Domain Expertise
        .text-center
          img.img-fluid.img-expertise(src="./images/expertise.svg", alt="")
        .link-box.mb-4
          a.text-white(href="industries.html")
            i.align-middle.icon-arrow-right
            | View All Domains

    section.section-spacer

    section#workSlide.section-home.section-work.bg-props(style='background-color:#62AAAC', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#workSlide')
      .container
        h1.section-heading What We Do?
        img.img-fluid.img-horizontal(src="./images/our-work.svg", alt="")
        img.img-fluid.img-vertical(src="./images/our-work-sm.svg", alt="")
        .link-box.mb-4
          a.text-white(href="services.html#ourWork")
            i.align-middle.icon-arrow-right
            | View Our Work

    section.section-spacer

    section#clientsSlide.section-home.section-clients.bg-props(style='background-color:#F4F4F4', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#clientsSlide')
      .container
        h1.section-heading Our Top Clients
        ul.list-unstyled.list-client
          li
            a(href="javascript:void(0);")
              img.img-fluid(src="./images/clogo-star.jpg", alt="")
          li
            a(href="javascript:void(0);")
              img.img-fluid(src="./images/clogo-gojek.jpg", alt="")
          li
            a(href="http://www.dealsignal.com/",target="_blank")
              img.img-fluid(src="./images/clogo-dealsignal.jpg", alt="")
          li
            a(href="http://brandscope.com.au/",target="_blank")
              img.img-fluid(src="./images/clogo-brandscope.jpg", alt="")
          li
            a(href="http://www.clubbuzz.co.uk/",target="_blank")
              img.img-fluid(src="./images/clogo-clubbuzz.jpg", alt="")
          li
            a(href="https://www.cubictree.com/",target="_blank")
              img.img-fluid(src="./images/clogo-cubictree.jpg", alt="")
          li
            a(href="https://www.willswayfoundation.us/",target="_blank")
              img.img-fluid(src="./images/clogo-we3.jpg", alt="")
          li
            a(href="https://thepediatricnetwork.com/#/",target="_blank")
              img.img-fluid(src="./images/clogo-tpn.jpg", alt="")
          li
            a(href="http://www.freedomfromdiabetes.org/Program",target="_blank")
              img.img-fluid(src="./images/clogo-ffd.jpg", alt="")
          li
            a(href="http://www.synergydesignsolutions.com.sg/",target="_blank")
              img.img-fluid(src="./images/clogo-synergy.jpg", alt="")
          li
            a(href="https://next.merchdirect.com/",target="_blank")
              img.img-fluid(src="./images/clogo-mdny.jpg", alt="")
          li
            a(href="https://fundamentor.com/",target="_blank")
              img.img-fluid(src="./images/clogo-fundamentor.jpg", alt="")
          li
            a(href="http://www.skoutdeals.com/",target="_blank")
              img.img-fluid(src="./images/clogo-skoutdeals.jpg", alt="")
          li
            a(href="javascript:void(0);")
              img.img-fluid(src="./images/clogo-druva.jpg", alt="")
          li
            a(href="https://quickinsure.co.in/",target="_blank")
              img.img-fluid(src="./images/clogo-quickinsure.jpg", alt="")

        .link-box
          a(href="testimonial.html")
            i.align-middle.icon-arrow-right
            | View Testimonials

    section.section-spacer

    section#aboutSlide.section-home.section-about(style='background-color:#D1645D', data-center='background-position: 50% 0px;', data-bottom-top='background-position: 50% -100px;', data-anchor-target='#aboutSlide')
      .container
        h1.section-heading About Us
        .about-wrap
          .stats-box
            .stats
              h4 11+ Years
              p Industry Experience
            .stats
              h4 13
              p Countries
            .stats
              h4 96
              p Clients
            .stats.stats-button.d-none.d-lg-block
              a.btn.btn-outline-white(href="about-us.html") Company
          .about-banner
            img.img-fluid(src="./images/about.png", alt="")
          .stats-box
            .stats
              h4 35+
              p Mentored and created <br>business model for start-ups
            .stats
              h4 7
              p Startups taken from <br> concept to funding
            .stats
              h4 60%
              p Clients that are working with us <br>for more than 5 years
            .stats.stats-button.d-none.d-lg-block
              a.btn.btn-outline-white(href="team.html") Our Team

    section.section-spacer

    section#contactSlide.section-home.section-contact
      .container
        .row
          .col-lg-6.col-md-12
            .contact-wrap
              p Looking for an <br>expert technical partner?
              .d-none.d-lg-block
                a.btn.btn-gray(href="contact-us.html") Contact Us
      .contact-banner
      .contact-number
        .container
          h6 Call Us
          p
            i.align-middle.icon-phone
            | +91 9836372938
