extends ./layouts/bootstrap.jade

block content
  section.section-home.section-banner
    .container

  section.section-home.section-expertise
    .container
      h1.section-heading Domain Expertise

  section.section-home.section-work
    .container
      h1.section-heading What We Do?
      img.img-fluid.img-horizontal(src="./images/our-work.svg", alt="")
      img.img-fluid.img-vertical(src="./images/our-work-sm.svg", alt="")
      .link-box.mb-4
        a.text-white(href="javascript:void(0);")
          i.align-middle.icon-arrow-right
          | View Our Work
  section.section-home.section-clients
    .container
      h1.section-heading Our Top Clients
      ul.list-unstyled.list-client
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/pediatric_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/brandscope_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/druva_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/dealsignal_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/ffd_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/ffd_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/dealsignal_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/brandscope_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/pediatric_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/druva_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/druva_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/pediatric_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/ffd_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/dealsignal_logo.png", alt="")
        li
          a(href="javascript:void(0);")
            img.img-fluid(src="./images/brandscope_logo.png", alt="")

      .link-box
        a(href="javascript:void(0);")
          i.align-middle.icon-arrow-right
          | View Testimonials

  section.section-home.section-about
    .container
      h1.section-heading About Us
      .about-wrap
        .stats-box
          .stats
            h4 +11 years
            p Industry Experience
          .stats
            h4 13
            p Countries
          .stats
            h4 96
            p Clients
          .stats.d-none.d-lg-block
            a.btn.btn-outline-white(href="javascript:void(0);") Company
        .about-banner
          img.img-fluid(src="./images/about.png", alt="")
        .stats-box
          .stats
            h4 35+
            p Mentored and created business model for start-ups
          .stats
            h4 7
            p Technology Partners got funding
          .stats
            h4 60%
            p Clients that are working with us for more than 5 years
          .stats.d-none.d-lg-block
            a.btn.btn-outline-white(href="javascript:void(0);") Our Team

  section.section-home.section-contact
    .container
      .row
        .col-lg-6.col-md-12
          .contact-wrap
            p Looking for an <br>expert technical partner?
            a.btn.btn-gray(href="javascript:void(0);") Contact Us
    .contact-banner
    .contact-number
      .container
        h6 Call Us
        p
          i.align-middle.icon-phone
          | +91 9836372938
