extends ./layouts/bootstrap.jade

block vars
  -var page='Career'

block content
  section.section-description
    .container.bg-white
      .description
        h2 ReactJS Developer 
        p Experience : 3+ years 
        p.text-left.font-weight-normal Required Skills :
        ul.list-group
          li Expertise in Core JavaScript (ES5, ES6),  HTML, CSS/Sass and proficient with ReactJS
          li Experience on Props, Data flow & Diffing
          li Experience in Flux Design Pattern & Redux
          li Experience with Frontend performance analysis.
          li Experience in Webservices
          li Knowledge of caching levels and memory DBs.
          li Understanding of web security best practices.
          li Experience with JavaScript testing frameworks
        br
        p.text-left.font-weight-normal Good to have :
        ul.list-group
          li Hand on with Flow or Type Script
          li Service workers
          li Active contributor to open source software
 
        br
        .text-center Send mail to careers@joshsoftware.com
        //=
          .btn-wrap.text-center
            a.btn.btn-outline-gray(href="job-apply.html") Apply

