extends ./layouts/bootstrap.jade

block append vars
  -var page = "Career"
  -var title = page

block content
  section.section-description
    .container.bg-white
      .description
        h2 ROR Developer
        p Experience : 3+ years in ROR
        p.text-left.font-weight-normal Description
        ul.list-group
          li Should have worked with latest versions of ruby and rails
          li Good knowledge of working with atleast one of MySQL, PostgreSQL
          li Knowledge of mongodb will be added advantage
          li Good knowledge of working with at least one of angular.js, node.js or react.js
          li Good knowledge of writing test cases using rspec
          li Good knowledge of JavaScript and JQuery
          li Knowledge of writing est cases for views and JavaScript will be added advantage
          li Good knowledge of deployment using mina or capistrano
          li Good knowledge of Github
        br
        p.text-left.font-weight-normal Added advantage
        ul.list-group
          li worked in team and experience of handling team of few members 
          li Should have good communication skills 
          li Experience of client communication and directly working with client
          li Added advantage
          li Active in open source community
          li Presented paper at Ruby conf in India or abroad
        br
        .text-center Send mail to careers@joshsoftware.com
        //=
          .btn-wrap.text-center
            a.btn.btn-outline-gray(href="job-apply.html") Apply

