extends ./layouts/bootstrap.jade

block content
  section.section-open_source.section-banner
    .container
  section.section-open_source.section-content
    .container
      h2.section-heading Driving Open Source
      p.txt-info We take pride in working with our community on various events, platforms and collaborations. True to our name, we are passionate about helping the progress of technology disruption in all forms.
      .row
        .col-sm-4
          .card.card-note
           .card-body
            h5.card-title Rubyconf India 2018
            p.card-text RubyConf India is a global event complementing other RubyConf events across the world. This year our event is a 2-day, single track event focused on Ruby Language, Framework and Tools.