extends ./layouts/parallax-layout.jade

block content
  section#bannerSlide.homeSlide
    .bcg(style='background-image:url(../images/home-banner.jpg)', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-anchor-target='#banner')
      .container
        h2
          | Fade out elements before
          br
          | they leave viewport
        p
          | This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.
  section#expertiseSlide.homeSlide
    .bcg(style='background-image:url(../images/home-industries.jpg)', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#slide-2')
      .container
        h2
          | Fade out elements before
          br
          | they leave viewport
        p
          | This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.
  section#workSlide.homeSlide
    .bcg(style='background-color:#62AAAC', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#workSlide')
      .container
        h2
          | Fade out elements before
          br
          | they leave viewport
        p
          | This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.
  section#clientsSlide.homeSlide
    .bcg(style='background-color:#F4F4F4', data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#clientsSlide')
      .container
        h2
          | Fade out elements before
          br
          | they leave viewport
        p
          | This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.
  section#aboutSlide.homeSlide
    .bcg(style='background-color:#D1645D', data-center='background-position: 50% 0px;', data-bottom-top='background-position: 50% -100px;', data-anchor-target='#aboutSlide')
      .container
        h2
          | Fade out elements before
          br
          | they leave viewport
        p
          | This slide moves background image at a slower speed then the page scroll. Text is fading out to opacity 0 at 106 pixels from the top.
  section#contactSlide.section-home.section-contact
    .container
      .row
        .col-lg-6.col-md-12
          .contact-wrap
            p Looking for an <br>expert technical partner?
            .d-none.d-lg-block
              a.btn.btn-gray(href="contact-us.html") Contact Us
    .contact-banner
    .contact-number
      .container
        h6 Call Us
        p
          i.align-middle.icon-phone
          | +91 9836372938
