extends ./layouts/bootstrap.jade

block content
  section.section-service.section-banner
    .container
  section.section-content
    .container
      h2.work-title our work
      .card-wrap 
         .card.card-expertise
            .card-body
              h2.card-title Quickinsure
              .portfolio
                .img-portfolio
                  img.img-fluid(src="https://dummyimage.com/574x352/666666/f3f3f3&text=Placeholder",alt="IOT-Logo")
                .info-portfolio 
                  p.card-text QuickInsure is a specially developed platform for convenience in buying motor vehicle insurance and third party insurance. Buying an insurance for vehicles can sometimes be a time-consuming task for both vehicle owners and the professional who provides insurance policy options available in the market.QuickInsure is a B2C platform which provides that ease and convenience.
                  .portfolio-link
                    .link-box
                      a(href="javascript:void(0);")
                        i.align-middle.icon-arrow-right
                        | View Technologies
                      a(href="javascript:void(0);")
                        i.align-middle.icon-arrow-right
                        | View Domains
                    p.text-right
                        a.service-top.text-uppercase(href='javascript:void(0);') go to top
        .btn-wrap
            a.btn.btn-gray(href="javascript:void(0);") Services
            a.btn.btn-outline-gray(href="javascript:void(0);") Industries