extends ./layouts/bootstrap.jade

block content
  section.section-testimonial.section-banner
    .container
  section.section-testimonial.section-content
    .container
      .card-wrap.-striped.client-testimonial
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
        .card.card-client-testimonial
          .card-body
            .testimonial-info
                p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
                .clients-info.left
                  h6 Dr. Atish Laddad
                  p Designation
                  p.font-weight-normal company name
              .testimonial-image
                img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
        .card.card-client-testimonial
          .card-body
            .testimonial-info
                p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
                .clients-info.left
                  h6 Dr. Atish Laddad
                  p Designation
                  p.font-weight-normal company name
              .testimonial-image
                img.iimg-fluid.img-thumbnail.rounded-circle
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
        .card.card-client-testimonial
          .card-body
            .testimonial-info
                p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
                .clients-info.left
                  h6 Dr. Atish Laddad
                  p Designation
                  p.font-weight-normal company name
              .testimonial-image
                img.iimg-fluid.img-thumbnail.rounded-circle
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
        .card.card-client-testimonial
          .card-body
            .testimonial-info
                p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
                .clients-info.left
                  h6 Dr. Atish Laddad
                  p Designation
                  p.font-weight-normal company name
              .testimonial-image
                img.iimg-fluid.img-thumbnail.rounded-circle
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
        .card.card-client-testimonial
          .card-body
            .testimonial-info
                p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
                .clients-info.left
                  h6 Dr. Atish Laddad
                  p Designation
                  p.font-weight-normal company name
              .testimonial-image
                img.iimg-fluid.img-thumbnail.rounded-circle
        .card.card-client-testimonial
          .card-body
            .testimonial-image
              img.iimg-fluid.img-thumbnail.rounded-circle(src="https://dummyimage.com/132x132/696469/fff&text=plceholder", alt="")
            .testimonial-info
              p.card-text If a house has strong foundation and pillars, the house stands the test of time. My experience with Josh has been akin to that. If you want to build a technology house with strong foundations, it has to be with Josh. Every brick is put in with a lot of thought process and deliberation. Every feature is cemented well. Unexpected cracks don’t emerge and even if they do, the team is quick to respond.My good wishes are with them and expect them to take the game higher in coming times by experimenting, innovating and leading in newer technologies!
              .clients-info
                h6 Dr. Atish Laddad
                p Designation
                p.font-weight-normal company name
    .btn-wrap
      a.btn.btn-gray(href="about-us.html") Indusrties
      a.btn.btn-outline-gray(href="contact-us.html") About Us