@import "../../assets/stylesheets/core";

.innovation-item-wrap {
  // border-radius: 0 0 rem(12px) rem(12px);
  // background-color: $white;
  margin-top: rem(56px);
}

// .product-content {
//   flex-wrap: wrap;

//   @include media-breakpoint-up(lg) {
//     flex-wrap: unset;
//   }
// }

// .product-features {
//   background-color: #fbfbfb;
//   box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.051);
//   border-radius: 0 0 rem(12px) rem(12px);

//   @include media-breakpoint-up(lg) {
//     padding: rem(48px);
//     border-radius: 0 0 rem(12px) 0;
//   }
// }

.product-details {
  padding: rem(24px) rem(16px);
  border-radius: rem(12px);
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    align-items: center;
    flex-direction: row;
    padding: rem(24px) rem(48px);
  }

  img {
    width: rem(300px);
    margin: 0 auto;
    height: 100%;
    margin-bottom: rem(32px);
    @include media-breakpoint-up(lg) {
      width: rem(300px);
      border-right: 1px solid #707070;
      padding-right: rem(48px);
      margin: 0;
    }
  }

  p {
    font-size: rem(16px);
    line-height: rem(20px);
    color: #707070;

    @include media-breakpoint-up(lg) {
      line-height: rem(24px);
      margin-left: rem(48px);
    }
  }
}

.feature-list {
  flex-wrap: wrap;
  @include media-breakpoint-up(lg) {
    margin: 0 rem(-8px);
    flex-wrap: unset;
  }

  li {
    @include media-breakpoint-up(lg) {
      padding: 0 rem(8px);
    }

    .feature-list-item {
      border-radius: rem(12px);

      > img {
        width: rem(90px);
        height: auto;
      }
    }

    &:not(:first-child) {
      margin-top: rem(24px);
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
  }
}
