/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.story-content-summary {
  background-image: url("../../assets/images//revampImages/success-details-bg.png");
  background-size: cover;
  background-position: center;
  padding: 2.5rem;
  border-radius: 0px 0px 1rem 1rem; }
  .story-content-summary h6 {
    color: #cf4338;
    font-weight: 600; }
  .story-content-summary h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1c1c1c; }
  .story-content-summary img {
    width: auto;
    height: 9rem;
    border-radius: 0.875rem; }
  .story-content-summary p {
    font-size: 0.875rem;
    color: #000; }

.story-features {
  padding-top: 4rem; }

.features-title-wrap span {
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 0.25rem;
  z-index: 999; }

.features-title-wrap::after {
  content: "";
  position: absolute;
  background-color: rgba(105, 117, 121, 0.19);
  width: 100%;
  height: 0.125rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0; }

.story-features img {
  height: auto;
  width: 12.625rem;
  box-shadow: -3px 0px 6px rgba(230, 230, 230, 0.745);
  border-radius: 0.5rem;
  object-fit: cover; }

.story-features p {
  font-size: 0.875rem;
  color: #000; }

.features-details {
  flex-direction: column; }
  @media (min-width: 992px) {
    .features-details {
      flex-direction: row; } }

.pagination-wrap {
  padding: 2.5rem 0; }
  .pagination-wrap i {
    font-size: 2.5rem;
    font-weight: 500;
    color: #cf4338;
    vertical-align: middle; }
  .pagination-wrap span {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 7.2px;
    color: #8d9091; }
