/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.tile-card-body {
  background: transparent linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.11) 100%) 0% 0% no-repeat padding-box;
  border-radius: 1.5rem; }
  .tile-card-body > img {
    width: 100%;
    height: 13.75rem; }
    @media (min-width: 992px) {
      .tile-card-body > img {
        height: auto; } }
  .tile-card-body .card-title,
  .tile-card-body .card-text {
    color: #1c1c1c; }
  .tile-card-body .card-title {
    font-size: 1.25rem;
    line-height: 1.875rem; }
    @media (min-width: 992px) {
      .tile-card-body .card-title {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .tile-card-body .card-text {
    font-size: 1rem;
    line-height: 1.375rem; }
    @media (min-width: 992px) {
      .tile-card-body .card-text {
        font-size: 0.875rem; } }

.tag-list {
  margin: 0 -0.125rem 1.25rem; }
  .tag-list .tag-list-item-wrap {
    padding: 0 0.125rem;
    margin-bottom: 0.25rem;
    display: inline-block; }
    .tag-list .tag-list-item-wrap .tag-list-item {
      padding: 0.125rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: #1c1c1c; }

.tile-card {
  border-radius: 1.5rem;
  background-color: #d6f5f0; }
