@import "../../assets/stylesheets/core";

.tile-card-body {
  flex-direction: column;

  background: transparent
    linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.11) 100%)
    0% 0% no-repeat padding-box;
  border-radius: 0.75rem;

  .tile-img {
    width: auto;
    height: 13.75rem;
    margin: 0 auto;
  }

  .card-title,
  .card-text {
    color: $gray-11;
  }
  .card-title {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  .card-text {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      font-size: 0.875rem;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

.tile-card {
  border-radius: 0.75rem;
  background-color: $mint;
  margin-top: 1rem;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
    height: 100%;
  }

  &.vertical {
    height: 100%;
    @include media-breakpoint-up(lg) {
      width: 20.875rem;
    }
  }

  &.horizontal {
    .tile-card-body {
      @include media-breakpoint-up(lg) {
        flex-direction: row;
        padding-left: 0;
      }

      .tile-img {
        @include media-breakpoint-up(lg) {
          width: 19.5rem;
          margin-right: 16px;
        }
      }
    }
  }

  .tile-hover-wrap {
    display: none;
    .title-box {
      h3 {
        color: $white;
        font-size: 2rem;
        line-height: 2.75rem;
      }
      margin-bottom: 2rem;
    }

    .see-more-btn {
      &::after {
        content: "";
        position: absolute;
        background-color: $merino;
        height: 0.125rem;
        width: 50%;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }
  &:hover {
    .tile-hover-wrap {
      @include media-breakpoint-up(lg) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 0.75rem;
      }
    }
  }
}
