@import "../../assets/stylesheets/core";

.tile-card-body {
  // padding: 1.5rem 1.5rem 2.5rem;
  // flex-direction: column;

  background: transparent
    linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.11) 100%)
    0% 0% no-repeat padding-box;
  border-radius: 1.5rem;
  // @include media-breakpoint-up(lg) {
  //   padding: 2rem;
  // }

  > img {
    width: 100%;
    height: 13.75rem;

    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }

  .card-title,
  .card-text {
    color: $gray-11;
  }
  .card-title {
    font-size: 1.25rem;
    line-height: 1.875rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  .card-text {
    font-size: 1rem;
    line-height: 1.375rem;

    @include media-breakpoint-up(lg) {
      font-size: 0.875rem;
    }
  }
}

.tag-list {
  margin: 0 -0.125rem 1.25rem;

  .tag-list-item-wrap {
    padding: 0 0.125rem;
    margin-bottom: 0.25rem;
    display: inline-block;

    .tag-list-item {
      padding: 0.125rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $gray-11;
    }
  }
}

.tile-card {
  border-radius: 1.5rem;
  background-color: $mint;

  &.vertical-tile-card-body {
    // .tag-list {
    //   @include media-breakpoint-up(lg) {
    //     display: -webkit-box;
    //     -webkit-line-clamp: 4;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //   }
    // }
  }

  &.horizontal-tile-card-body {
    // .tag-list {
    //   @include media-breakpoint-up(lg) {
    //     display: -webkit-box;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //   }
    // }
  }
}
