/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.tile-card-body {
  flex-direction: column;
  background: transparent linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.11) 100%) 0% 0% no-repeat padding-box;
  border-radius: 1.5rem; }
  .tile-card-body > img {
    width: auto;
    height: 13.75rem;
    margin: 0 auto; }
  .tile-card-body .card-title,
  .tile-card-body .card-text {
    color: #1c1c1c; }
  .tile-card-body .card-title {
    font-size: 1.25rem;
    line-height: 1.875rem; }
    @media (min-width: 992px) {
      .tile-card-body .card-title {
        font-size: 1.375rem;
        line-height: 2rem; } }
  .tile-card-body .card-text {
    font-size: 1rem;
    line-height: 1.375rem;
    -webkit-line-clamp: 4; }
    @media (min-width: 992px) {
      .tile-card-body .card-text {
        font-size: 0.875rem; } }

.tile-card {
  border-radius: 1.5rem;
  background-color: #d6f5f0;
  margin-top: 1rem; }
  @media (min-width: 992px) {
    .tile-card {
      margin-top: 0; } }
  .tile-card.vertical {
    height: 100%; }
    @media (min-width: 992px) {
      .tile-card.vertical {
        width: 20.875rem; } }
  @media (min-width: 992px) {
    .tile-card.horizontal .tile-card-body {
      flex-direction: row;
      padding-left: 0; } }
  @media (min-width: 992px) {
    .tile-card.horizontal .tile-card-body img {
      width: 19.5rem;
      margin-right: 16px; } }
  .tile-card .tile-hover-wrap {
    display: none; }
    .tile-card .tile-hover-wrap .title-box {
      margin-bottom: 2rem; }
      .tile-card .tile-hover-wrap .title-box h3 {
        color: #fff;
        font-size: 2rem;
        line-height: 2.75rem; }
    .tile-card .tile-hover-wrap .see-more-btn::after {
      content: "";
      position: absolute;
      background-color: #ddd5ca;
      height: 0.125rem;
      width: 50%;
      right: -1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1; }
  .tile-card:hover .tile-hover-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1.5rem; }
