/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.media-item {
  margin-bottom: 3rem;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 768px) {
    .media-item {
      padding: 0 1.5rem;
      margin-bottom: 3rem;
      max-width: 20.9375rem; } }
  @media (min-width: 992px) {
    .media-item {
      padding: 0 1.5rem;
      margin-bottom: 3.375rem;
      max-width: 23.125rem; } }

.media {
  flex: 1; }
  .media .media-frame {
    padding: 0 0.75rem;
    height: 100%;
    width: 100%; }
    @media (min-width: 768px) {
      .media .media-frame {
        height: 9.25rem; } }
    @media (min-width: 992px) {
      .media .media-frame {
        height: 10.5rem; } }
    .media .media-frame iframe {
      border-radius: 1rem 1rem 0 0;
      height: 100%; }

.media-content {
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 4.5rem 1.5rem 1.5rem;
  margin-top: -4rem;
  flex: 1;
  width: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12); }
  @media (min-width: 992px) {
    .media-content {
      padding: 4.5rem 1rem 1.5rem; } }
  .media-content .profile-icon {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #000; }

.media-content-info {
  flex: 1; }
  .media-content-info > a {
    color: #020449;
    font-size: 1.125rem;
    line-height: 0.875rem;
    text-decoration: none; }
    @media (min-width: 992px) {
      .media-content-info > a {
        font-size: 0.875rem; } }
  .media-content-info p {
    font-size: 1rem;
    line-height: 1.0625rem;
    color: #333333;
    font-weight: 500; }
    @media (min-width: 992px) {
      .media-content-info p {
        font-size: 0.75rem; } }
