@import "../../assets/stylesheets/core";

.industry-media-card {
  h6,
  p {
    color: $gray-11;
  }

  .media-img {
    width: 2.5rem;
    height: auto;
  }

  p {
    @include media-breakpoint-up(lg) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
