@import "../../assets/stylesheets/core";

.banner-wrapper {
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e86055;
    width: 100%;
    height: 2.75rem;
    z-index: -1;
  }
}

.banner-wrap {
  background: url("../../assets/images/revampImages/talks_banner.jpeg")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 10rem;
  background-position: left 30% center;
  border-radius: 0 0 0.75rem 0.75rem;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(lg) {
    height: 19.75rem;
    padding: 3rem 0;
    background-position: center center;
  }

  .caption {
    font-size: 2.25rem;
    line-height: normal;

    @include media-breakpoint-up(lg) {
      font-size: 4.5rem;
    }
  }
}
