/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.banner-wrapper {
  z-index: 0; }
  .banner-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e86055;
    width: 100%;
    height: 2.75rem;
    z-index: -1; }
  .banner-wrapper .banner {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10rem;
    background-position: left 30% center;
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 992px) {
      .banner-wrapper .banner {
        height: 19.75rem;
        padding: 3rem 0;
        background-position: left center; } }
    .banner-wrapper .banner.talks {
      background-image: url("../../assets/images/banner/talks-banner@2x.jpg"); }
    .banner-wrapper .banner.publications {
      background-image: url("../../assets/images/banner/publications-banner@2x.jpg"); }
    .banner-wrapper .banner.media-coverage {
      background-image: url("../../assets/images/banner/media-coverage-banner@2x.jpg"); }
    .banner-wrapper .banner.white-papers {
      background-image: url("../../assets/images/banner/white-paper-banner@2x.jpg"); }
  .banner-wrapper .caption {
    font-size: 1.75rem;
    line-height: normal; }
    @media (min-width: 992px) {
      .banner-wrapper .caption {
        font-size: 4.5rem; } }
