.team-social-link
  {{#public_profile.twitter_handle}}
  %a{target: "_blank", href: "http://twitter.com/{{public_profile.twitter_handle}}", alt: "Twitter handle {{public_profile.twitter_handle}}"}
    %i.icon-twitter
  {{/public_profile.twitter_handle}}
  {{#public_profile.github_handle}}
  %a{target: "_blank", href: "http://github.com/{{public_profile.github_handle}}", alt: "Github handle {{public_profile.github_handle}}"}
    %i.icon-github
  {{/public_profile.github_handle}}
  {{#public_profile.facebook_url}}
  %a{target: "_blank", href: "{{public_profile.facebook_url}}", alt: "Facebook"}
    %i.icon-facebook
  {{/public_profile.facebook_url}}
  {{#public_profile.linkedin_url}}
  %a{target: "_blank", href: "{{public_profile.linkedin_url}}", alt: "LinkedIn handle"}
    %i.icon-linkedin
  {{/public_profile.linkedin_url}}
  {{#public_profile.blog_url}}
  %a{target: "_blank", href: "{{public_profile.blog_url}}", alt: "Blog"}
    %i.icon-rss
  {{/public_profile.blog_url}}
