= render 'shared/breadcrumbs', data: nil
.container
  .row
    .col-lg-5
      %h4 Fun at Josh
      .about-testimonial
        /.about-testimonial-author Fun at JOSH
      #fun.align-center
        = image_tag 'loading.gif'
    .col-lg-7.about
      %h4 About Us
      %p
        Driven by enthusiasm and passion, Josh Software is India’s leading company in building innovative web applications working exclusively on 
        %span.text-danger Ruby On Rails
        Framework.
      %p 
        We partner with our clients from concept and design to implementation and maintenance. We firmly believe that 
        %span.text-danger Programming is An Art
        and have a unique organizational process focused on building solutions to facilitate high performance, scalability, and high-standard code quality.
      %p
        We are fanatic about Test Coverage, Continuous Integration and code smell. Timelines are important but code quality is far more important. Working code is fine but we also stress test our apps for concurrency and load. 
        %a{href: "http://codeclimate.com", target: '_blank'} CodeClimate,
        %a{href: "http://circleci.com", target: '_blank'} CircleCi,
        %a{href: "http://github.com", target: '_blank'} Github,
        %a{href: "http://pivotaltracker.com", target: '_blank'} Pivotal Tracker,
        and
        %a{href: "http://trello.com", target: '_blank'} Trello
        are some of the tools we use to ensure our clients are always happy!
  .row
    .hiring
      .col-lg-6.col-sm-6
        .icon-wrap.ico-bg.round
          %i.icon-desktop
        .content
          %h3
            = link_to "View our Client Portfolio", 'portfolio', class: 'title'
          %p We have conceptualized and deployed more than 50 Ruby on Rails applications the world over across domains like manufacturing, travel, e-commerce, insurance, education and media. Here is a collection of some of our best work. 
      .col-lg-6.col-sm-6
        .icon-wrap.ico-bg.round
          %i.icon-group
        .content
          %h3
            = link_to 'Meet our team', 'team', class: 'title'
          %p Our team of young, dynamic developers has been handpicked with one criteria – a hunger for developing path-breaking code. Learn more and connect with the Josh team. 
.container.well
  .row
    .col-lg-12.about
      %h4 Ruby Community
      %p
        Apart from building and curating its own team, we undertake various initiatives in contributing back to the Ruby open source community. We have been actively promoting the Ruby on Rails framework in India through an annual national conference - Rubyconf India, regional conferences, our RoR blog, and organizing local meet-up groups. Our Founder-Director Gautam Rege, has also penned and published a book on Ruby and Mongo DB Web Development.


