- content_for :title do
  Contact us | Josh Software Private Limited
%form{:action => 'https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', :method => 'POST', :id => 'contact_form', :class => 'form-horizontal well'}
  %input{:type => 'hidden', :name => 'oid', :value => '00D90000000I0gJ'}
  %input{:type => 'hidden', :name => 'retURL', :value => 'http://www.joshsoftware.com/ThankYou'}
  %input{ :type => 'hidden', :name => 'lead_source', :id => 'ld_ource', :value => 'Web'}
  %input{:type => 'hidden', :name => 'sfga', :value => '00D90000000I0gJ'}
  .control-group
    %label{:for => 'first_name', :class => 'control-label'}First Name
    .controls
      %input{:id => 'first_name', :name => 'first_name', :type => 'text'}
  .control-group
    %label{:for => 'last_name', :class => 'control-label'}Last Name
    .controls
      %input{:id => 'last_name', :name => 'last_name', :type => 'text'}
  .control-group
    %label{:for => 'email', :class => 'control-label'}Email
    .controls
      %input{:id => 'email', :name => 'email', :type => 'text'}
  .control-group
    %label{:for => 'title', :class => 'control-label'}Title
    .controls
      %input{:id => 'title', :name => 'title', :type => 'text'}
  .control-group
    %label{:for => 'skype_id__c', :class => 'control-label'}Skype Handle
    .controls
      %input{:id => 'skype_id__c', :name => 'skype_id__c', :type => 'text'}
  .control-group
    %label{:for => 'phone', :class => 'control-label'}Phone
    .controls
      %input{:id => 'phone', :name => 'phone', :type => 'text'}
  .control-group
    %label{:for => 'address', :class => 'control-label'}Address
    .controls
      %textarea{:id => 'address', :name => 'address', :rows => "5", :cols => "20"}
  .control-group
    %label{:for => 'company', :class => 'control-label'}Company
    .controls
      %input{:id => 'city', :name => 'city', :type => 'text'}
  .control-group
    %label{:for => 'city', :class => 'control-label'}City
    .controls
      %input{:id => 'city', :name => 'city', :type => 'text'}
  .control-group
    %label{:for => 'state', :class => 'control-label'}State/Province
    .controls
      %input{:id => 'stt', :name => 'state', :type => 'text'}
  .control-group
    %label{:for => 'country', :class => 'control-label'}Country
    .controls
      %input{:id => 'country', :name => 'country', :type => 'text'}
  .control-group
    %label{:for => 'description', :class => 'control-label'}Description
    .controls
      %textarea{:id => 'description', :name => 'description', :rows => "5", :cols => "45" }
  .control-group
    .controls
      %button{:type => 'submit', :class => 'btn', :id => 'contact_submit'} Submit
= javascript_include_tag 'https://lct.salesforce.com/sfga.js'
%script
  __sfga()
