.well.well-trans.splash
  .top
  .center
    .row
      .span7.splash-text
        %p Josh is all about enthusiasm. We believe that "Programming is an Art". Working with rails is our passion. 
        %p We deliver world class software using Ruby on Rails in various industry verticals like BFSI, Manufacturing, Media, eCommerce, Social Sector and Information Technology. Our expertize lies in core application development, scalability and performance tuning. We are passionate about open source and contribute extensively in the form of ruby gems and rails plugins.
        %p We are located in India and our offshore development services provide Cost Effective State of the Art Rails Development. We partner with Rackspace and Engine Yard to provide excellent Rails hosting.
      .span4.splash-gem
        %img{:src => "images/gem.png"}
  .bottom
.row.sepatator
.row.product-callouts
  .span
    .well.well-home-callout.first
      .top
      .center
        %h3
          Ruby on Rails
        .graphic.pull-right
          %img{:src => "images/rails_logo.png"}
        %p Working with Rails has been a passion and a pleasure. We have been working in different areas related to Rails - Edge Rails, Rails3, Facebook Applications. We have even undertaken some 'Rescue Missions' where we go in and save the day! Our latest efforts have been towards RhoMobile and Clojure. 
      
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          E-Josh
        .graphic.pull-right
          %img{:src => "images/e-josh_logo.png"}
        %p Developing a website and maintaining it has never been easy for any company, especially one which is not in the IT sector. Welcome to automated website management !
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          Contact Details
        .graphic.pull-right
          %img{:src => "images/splat_logo.png"}
        %p{:class => 'align-left'} 
          %strong Postal Address
          %br
          6, Thube Park, Shivajinagar, Pune - 411005, Maharastra, India
        %p
          %li{:class => "icon-signal"} 
          &nbsp;+91-20-25539995
        %p
          %i{:class => "icon-envelope"}
          %a{:href => 'mailto:info@joshsoftware.com'} Email us
          or
          %i{:class => "icon-pencil"}
          %a{:href => '/contact_us'} Send us a note
