.well.well-trans.splash
  .top
  .center
    .row
      .span7.splash-text
        %p Josh is all about enthusiasm. We believe that "Programming is an Art". Working with rails is our passion. 
        %p We deliver world class software using Ruby on Rails in various industry verticals like BFSI, Manufacturing, Media, eCommerce, Social Sector and Information Technology. Our expertize lies in core application development, scalability and performance tuning. We are passionate about open source and contribute extensively in the form of ruby gems and rails plugins.
        %p We are located in India and our offshore development services provide Cost Effective State of the Art Rails Development. We partner with Rackspace and Engine Yard to provide excellent Rails hosting.
      .span4.splash-gem
        %img{:src => "images/gem.png"}
  .bottom
.row.sepatator
.row.product-callouts
  .span
    .well.well-home-callout.first
      .top
      .center
        %h3
          %a{:href => 'testimonials', :title => 'Click to view all testimonials'} Testimonials
        %p{:class => 'align-left'} 
          #{truncate(@testimony[:endorsement],:length=>325)}
        %p.pull-right{:class => 'align-left'} 
          #{@testimony[:endorser]}
          %br #{@testimony[:title]}, #{@testimony[:company]}

      
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          Fun at JOSH
        #fun
          %img{:src => 'assets/loading.gif'}
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          Contact Details
        .graphic.pull-right
          %img{:src => "images/splat_logo.png"}
        %p{:class => 'align-left'} 
          %strong Postal Address
          %br
            6, Thube Park, 
            Shivajinagar, 
            Pune - 411005, 
            Maharastra, India.
        %p
          %li{:class => "icon-signal"} 
          &nbsp;+91-20-25539995
        %p
          %i{:class => "icon-envelope"}
          %a{:href => 'mailto:info@joshsoftware.com'} Email us
          or
          %i{:class => "icon-pencil"}
          %a{:href => '/contact_us'} Send us a note
        //twitter
        %a{:href => "https://twitter.com/joshsoftware", :target => "_blank", :title => 'Follow us @joshsoftware'}
          %img{:src => 'assets/glyphicons_392_twitter.png'}
        //facebook
        %a{:href => "https://facebook.com/joshsoftware", :target => "_blank", :title => 'Visit our Facebook Page'}
          %img{:src => 'assets/glyphicons_390_facebook.png'}
        //blog subscripe
        %a{:href => "http://blog.joshsoftware.com", :target => "_blank", :title => 'Subscribe to our blog'}
          %img{:src => 'assets/glyphicons_397_rss.png'}
        //linkedin
        %a{:href => "http://www.linkedin.com/company/josh-software-private-limited", :target => "_blank", :title => 'Visit our LinkedIn Page'}
          %img{:src => 'assets/glyphicons_377_linked_in.png'}

:javascript
  $(document).ready(function(){
    image_slide(false);
  })
