.container
  .well.well-trans.splash
    .top
    .center
      .row
        .span6.splash-text
          %p Josh is all about enthusiasm. We believe that "Programming is an Art". Working with rails is our passion. 
          %p We deliver world class software using Ruby on Rails in various industry verticals like BFSI, Manufacturing, Media, eCommerce, Social Sector and Information Technology. Our expertize lies in core application development, scalability and performance tuning. We are passionate about open source and contribute extensively in the form of ruby gems and rails plugins.
          %p We are located in India and our offshore development services provide Cost Effective State of the Art Rails Development. We partner with Rackspace and Engine Yard to provide excellent Rails hosting.
        .span5.splash-gem
          %img{:src => "images/gem.png"}
    .bottom
  



