= render partial: 'shared/breadcrumbs', locals: {data: nil}
.container
  .row
    .col-lg-3
      .span5.about-carousel
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              %a{:href => "http://www.packtpub.com/ruby-and-mongodb-web-development-beginners-guide/book", :target => "_blank"}
                %img{:src => "assets/ruby_and_mongo_db_book.png", :alt => "Ruby and MongoDB Web Development"}
                .carousel-caption
                  %p Books by us
            .item
              %a{:href => "http://www.packtpub.com/ruby-and-mongodb-web-development-beginners-guide/book", :target => "_blank"}
                %img{:src => "assets/ruby_and_mongo_db_book.png", :alt => "Ruby and MongoDB Web Development"}
                .carousel-caption
                  %p Books by us
          %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
            %i.icon-angle-left
          %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
            %i.icon-angle-right
    .col-lg-9.about
      %h3 Welcome to Josh Software
      %blockquote
        %p 
          Driven by enthusiasm and passion, Josh is India’s leading company in building innovative web applications working exclusively in 
          %span.text-danger Ruby On Rails
          since 2007.
        %p 
          We partner with our clients from concept, design, implementation and maintenance. We believe that
          %span.text-danger Programming is An Art
          and have a unique organizational process focused on building solutions to facilitate high performance, scalability, and high-standard code quality.
        %p
          We are fanatic about Test Coverage, Continuous Integration and code smell. Timelines are important but code quality is far more important. Working code is fine but we also stress test our apps for concurrency and load. 
        %p 
          %a{href: "http://codeclimate.com", target: '_blank'} CodeClimate,
          %a{href: "http://circleci.com", target: '_blank'} CircleCi,
          %a{href: "http://github.com", target: '_blank'} Github,
          %a{href: "http://pivotaltracker.com", target: '_blank'} Pivotal Tracker,
          and
          %a{href: "http://trello.com", target: '_blank'} Trello
          are some of the tools we use to ensure our clients are always happy!
