.well.well-trans.splash
  .top
  .center
    .row
      .span11.splash-text
        %p 
          Josh is all about enthusiasm and passion. As its name suggests, it was an innate enthusiasm and passion for building pioneering web solutions that led to the establishment of Josh Software in 2007.  Since its inception, Josh Software has focused in on the 
          %b.expertize Ruby on Rails 
          framework to develop web solutions for their diverse clientele; today, its one of the few companies in India that provide solutions solely on this open source framework. The organization partners with its clientele to develop innovative web applications from concept, design, implementation and maintenance. With a belief that
          %b.expertize Programming is An Art, 
          the brand has a unique organizational process focused on building solutions to facilitate high performance, scalability, and high-standard code quality.
        %p
          Josh Software is the vision of its founders Gautam Rege and Sethupathi Asokan to build one of the leading Ruby on Rails companies in the world. Along with its founders, the brand has built a core leadership team with experts across specific domains of its business as an effort to ensure a high standard of delivery for each of its client partners.
        %p
          The brand has handpicked each member of its team with only one criteria- a hunger for developing path-breaking code! Apart from building and curating its own team, Josh Software has taken various initiatives in contributing back to the Ruby open source community; the brand promotes the Ruby on Rails framework in India through an annual conference, regular blog, and organizing local meet-up groups. The brand has even published a book on 
          %a{:href => "http://www.packtpub.com/ruby-and-mongodb-web-development-beginners-guide/book", :target => "_blank"}Ruby and Mongo DB Web Development 
          penned by its Founder-Director Gautam Rege. Josh Software takes pride in being an Indian brand committed to building web solutions for clients across the world.
  .bottom
.row.sepatator
.row.product-callouts
  .span
    .well.well-home-callout.first
      .top
      .center
        %h3
          %img{:src => 'assets/glyphicons_332_certificate.png', :title => 'Testimonials'}
          %a{:href => 'testimonials', :title => 'Click to view all testimonials'} Testimonials
        - testimony = @testimonials.sample
        %p{:class => 'align-left'} 
          #{truncate(testimony[:endorsement],:length=>325)}
        %p.pull-right{:class => 'align-left'} 
          #{testimony[:endorser]}
          %br #{testimony[:title]}, #{testimony[:company]}

      
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          %img{:src => 'assets/glyphicons_273_drink.png', :title => 'Fun at Josh'}
          Fun at JOSH
        #fun.align-center
          %img{:src => 'assets/loading.gif'}
  .span
    .well.well-home-callout
      .top
      .center
        %h3
          %img{:src => 'assets/glyphicons_088_adress_book.png', :title => 'Contact Details'}
          Contact Details
        %p{:class => 'align-left'}
          %strong Postal Address
          %br
            6, Thube Park, 
            Shivajinagar, 
            Pune - 411005, 
            Maharashtra, India.
        %p
          %a{:target => "_blank", :href => "https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=Josh+Software+Private+Limited,+Thube+park,+Shivaji+Nagar,+Pune,+Maharashtra&aq=t&sll=18.815427,76.775144&sspn=10.655534,19.753418&vpsrc=0&ie=UTF8&hq=Josh+Software+Private+Limited,&hnear=Thube+Park,+Pune+Vidyapith+Rd,+Shivaji+Nagar,+Pune,+Maharashtra&ll=18.532921,73.851814&spn=0.010437,0.01929&t=m&z=16&iwloc=A&cid=7465183415235984484"}
            %i{:class => "icon-map-marker"}
            view map
        %p
          %i{:class => "icon-signal"} 
          &nbsp;+91-20-25539995
        %p
          %i{:class => "icon-envelope"}
          %a{:href => 'mailto:info@joshsoftware.com'} Email us
          or
          %i{:class => "icon-pencil"}
          %a{:href => '/contact_us'} Send us a note
        .social-links.pull-right
          //twitter
          %a{:href => "https://twitter.com/joshsoftware", :target => "_blank", :title => 'Follow us @joshsoftware'}
            %img{:src => 'assets/glyphicons_392_twitter_small.png'}

          //facebook
          %a{:href => "https://facebook.com/joshsoftware", :target => "_blank", :title => 'Visit our Facebook Page'}
            %img{:src => 'assets/glyphicons_390_facebook_small.png'}
          //blog subscripe
          %a{:href => "http://blog.joshsoftware.com", :target => "_blank", :title => 'Subscribe to our blog'}
            %img{:src => 'assets/glyphicons_397_rss_small.png'}
          //linkedin
          %a{:href => "http://www.linkedin.com/company/josh-software-private-limited", :target => "_blank", :title => 'Visit our LinkedIn Page'}
            %img{:src => 'assets/glyphicons_377_linked_in_small.png'}

:javascript
  $(document).ready(function(){
    image_slide(false);
  })
