.row
	.span2
		#sticker
			.well
				%p this 
				%p is 
				%p some 
				%p cotent 
				%p for 
				%p the 
				%p sticky
	.span10
		.well
			%p this 
			%p is 
			%p some 
			%p cotent 
			%p for 
			%p the 
			%p well
			%p this 
			%p is 
			%p some 
			%p cotent 
			%p for 
			%p the 
			%p well
			%p this 
			%p is 
			%p some 
			%p cotent 
			%p for 
			%p the 
			%p well
			%p this 
			%p is 
			%p some 
			%p cotent 
			%p for 
			%p the 
			%p well