.row
  .span5.team-thumbnails
    %ul.thumbnails
      %li
        %a.thumbnail.first{:data => {:member => "gautam"}}
          %img{:src => "images/gautam.jpg"}
      %li
        %a.thumbnail{:data => {:member => "sethu"}}
          %img{:src => "images/sethu.jpg"}
      %li
        %a.thumbnail{:data => {:member => "satish"}}
          %img{:src => "images/satish.jpg"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
      %li
        %a.thumbnail{:data => {:member => "placeholder"}}
          %img{:src => "http://placehold.it/100x100"}
  .span6
    .bio.team-bios.bio-gautam.first
      %h3.name
        Gautam Rege
      %h4.title
        Co-Founder & Director 
      .separator
      .bio-text
        %p In his 10+ years in the Software Industry, he has worked with product Companies like Veritas Software Inc. (now Symantec Inc) and services companies like Zensar Technologies and Cybage Software. He has graduated in 2000 with a Bachelors Degree in Computer Engineering from Pune Institute of Computer Technology (PICT), India. You can find his blog here and can follow him on twitter at @gautamrege 
    .bio.team-bios.bio-sethu.hide
      %h3.name
        Sethupathi Asokan
      %h4.title
        Co-Founder & Director 
      .separator
      .bio-text
        %p In his 12+ years, he has worked all along with Veritas Software (now Symantec Inc). He was instrumental in designing and managing Veritas Command Central™ Storage and was the senior most member of the team of 160 engineers. He holds a Masters Degree in Computer Science. You can follow him on twitter @sethupathia
    .bio.team-bios.bio-satish.hide
      %h3.name
        Satish Talim
      %h4.title
        Director 
      .separator
      .bio-text
        %p Satish is a Ruby Evangelist, programmer, author, trainer and speaker. A recognized expert in the field of software development with over 32+ years of I.T. experience, Satish has consulted and trained teams at various companies in India and the US. He is the owner of Rubylearning.com and Rubylearning.org and is one of the most popular personalities in the Ruby world. You can follow him on twitter @IndianGuru 
    .bio.team-bios.bio-placeholder.hide
      %h3.name
        Placeholder
      %h4.title
        Placeholder 
      .separator
      .bio-text
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur ullamcorper pulvinar. Mauris lectus orci, aliquet a tincidunt id, pretium id ante. Pellentesque aliquet porta urna sed vestibulum. Pellentesque laoreet bibendum mi sit amet eleifend.













