= render 'shared/breadcrumbs', data: nil
.container
  .row.well.thankyou
    .col-lg-6.col-lg-offset-3
      .text-center
        %h1 Thanks for contacting us. 
        %h2 We will get in touch with you as soon as possible.
