@import "../../assets/stylesheets/core";

.slider-modal {
  .slider-modal-body {
    padding: 1rem 4.5rem;
  }
  .modal-dialog {
    max-width: 43.75rem;
    height: 100%;
  }
  .modal-content {
    background: $gray-94
      linear-gradient(270deg, rgba($white, 0) 0%, rgba($black, 0.11) 100%) 0% 0%
      no-repeat padding-box;
    border-radius: 1rem;
    border: none;

    .modal-img {
      width: auto;
      height: 13.75rem;
      margin: 0 auto;
    }

    .tag-list {
      margin-bottom: 1rem;
    }
    h5 {
      font-size: 1.1875rem;
      line-height: 1.5625rem;
      color: $gray-11;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $gray-11;
    }

    .industry-media-card {
      p {
        -webkit-line-clamp: unset;
      }
    }
  }

  .slick-slider {
    width: 100%;

    .slick-slide {
      padding: 0 1.5rem;
    }
  }
}
