/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.slider-modal .slider-modal-body {
  padding: 1rem 4.5rem; }

.slider-modal .modal-dialog {
  max-width: 43.75rem;
  height: 100%; }

.slider-modal .modal-content {
  background: #efefef linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.11) 100%) 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  border: none; }
  .slider-modal .modal-content .modal-img {
    width: auto;
    height: 13.75rem;
    margin: 0 auto; }
  .slider-modal .modal-content .tag-list {
    margin-bottom: 1rem; }
  .slider-modal .modal-content h5 {
    font-size: 1.1875rem;
    line-height: 1.5625rem;
    color: #1c1c1c;
    margin-bottom: 1rem; }
  .slider-modal .modal-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #1c1c1c; }
  .slider-modal .modal-content .industry-media-card p {
    -webkit-line-clamp: unset; }

.slider-modal .slick-slider {
  width: 100%;
  height: 100vh; }
  .slider-modal .slick-slider .slick-slide {
    padding: 0 1.5rem; }

.slider-modal .slick-arrow::before {
  font-family: "josh-icons";
  font-size: 1.5rem;
  opacity: 0.5;
  color: #000; }

.slider-modal .slick-arrow:hover::before {
  color: #e86055;
  opacity: 1; }

.slider-modal .slick-prev::before {
  content: "\e912"; }

.slider-modal .slick-next::before {
  content: "\e913"; }
