/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.innovation-details-section {
  padding: 1.5rem 0 0; }
  @media (min-width: 992px) {
    .innovation-details-section {
      padding: 3rem 0 0; } }
