/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.media-frame {
  height: 9rem;
  padding: 0 0.75rem;
  border-radius: 1rem 1rem 0 0;
  z-index: 1; }
  @media (min-width: 768px) {
    .media-frame {
      height: 10.75rem; } }
  @media (min-width: 992px) {
    .media-frame {
      height: 9rem; } }
  @media (min-width: 1200px) {
    .media-frame {
      height: 10.875rem; } }
  .media-frame .img-box {
    background-color: #adadad;
    border-radius: 1rem 1rem 0 0; }
    .media-frame .img-box > img {
      max-width: 150%; }

.media-details {
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 4.75rem 1rem 1rem;
  margin-top: -4rem;
  flex: 1;
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12); }
  .media-details > a {
    color: #020449;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-decoration: none; }
    @media (min-width: 992px) {
      .media-details > a {
        font-size: 0.875rem;
        line-height: 1.25rem; } }
  .media-details p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333333;
    font-weight: 500; }
    @media (min-width: 992px) {
      .media-details p {
        font-size: 0.75rem;
        line-height: 1rem; } }
