/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.strip-slider {
  z-index: 999;
  bottom: -1rem; }
  .strip-slider .slick-slider {
    margin: 0 0.75rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29); }
    @media (min-width: 992px) {
      .strip-slider .slick-slider {
        margin: 0 6.25rem; } }
  .strip-slider .slick-list {
    height: auto !important; }

.strip-slider-item .slider-item-logo {
  width: 1.5rem;
  height: 100%; }

.strip-slider-item .title {
  color: #1c1c1c;
  font-size: 1rem;
  line-height: 0.5625rem; }
  @media (min-width: 992px) {
    .strip-slider-item .title {
      font-size: 1.125rem;
      line-height: 0.75rem; } }
