@import "../../assets/stylesheets/core";

.strip-slider {
  z-index: 999;
  bottom: -1.5rem;

  @include media-breakpoint-up(lg) {
    bottom: -1.75rem;
  }
  .slick-slider {
    margin: 0 0.75rem;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);

    @include media-breakpoint-up(lg) {
      margin: 0 6.25rem;
    }
  }

  .slick-list {
    margin: 0 1rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 2rem;
    opacity: 1;
    background-color: $white;

    i {
      font-size: 1rem;
      color: $gray-86;
    }

    &:hover {
      i {
        color: $burnt-sienna;
      }
    }
  }

  .carousel-control-prev {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .carousel-control-next {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.strip-slider-item {
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    padding: 0.75rem 1.5rem;
  }
  .slider-item-logo {
    width: auto;
    height: 1.5rem;
    margin-right: 0.5rem;

    @include media-breakpoint-up(lg) {
      height: 2rem;
    }
  }

  .title {
    color: $gray-11;
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;

    // @include media-breakpoint-up(lg) {
    //   font-size: 1.125rem;
    // }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.active-slider {
  .strip-slider-item {
    .title {
      color: $persian-red;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.1875rem;
      background-color: $persian-red;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}
