/*
Syntax error: File to import not found or unreadable: josh.
              Load paths:
                /home/kiran/projects/website/app/assets/stylesheets
                /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets
                /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.0.2.1/vendor/assets/stylesheets
                Compass::SpriteImporter
                /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.0.2.1/vendor/assets/stylesheets
        on line 15 of /home/kiran/projects/website/app/assets/stylesheets/application.css.scss

Backtrace:
/home/kiran/projects/website/app/assets/stylesheets/application.css.scss:15
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `call'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `load'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `<main>'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `eval'
/home/kiran/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: josh.\A               Load paths:\A                 /home/kiran/projects/website/app/assets/stylesheets\A                 /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.0.2.1/vendor/assets/stylesheets\A                 Compass::SpriteImporter\A                 /home/kiran/.rvm/gems/ruby-2.0.0-p247/gems/bootstrap-sass-3.0.2.1/vendor/assets/stylesheets\A         on line 15 of /home/kiran/projects/website/app/assets/stylesheets/application.css.scss"; }
