/* line 1, ../sass/dev_helpers.scss */
.showmered, .showmeblue, .showmegreen, .showmeyellow, .showmegrey {
  border: 1px solid;
  margin: 1px;
  margin-right: -2px;
}

/* line 6, ../sass/dev_helpers.scss */
.showmered {
  border-color: red;
}

/* line 9, ../sass/dev_helpers.scss */
.showmeblue {
  border-color: blue;
}

/* line 12, ../sass/dev_helpers.scss */
.showmegreen {
  border-color: green;
}

/* line 15, ../sass/dev_helpers.scss */
.showmeyellow {
  border-color: yellow;
}

/* line 18, ../sass/dev_helpers.scss */
.showmegrey {
  border-color: #aaa;
}

.dev-menu-holder {
  width: 940px;
  background-color: #ccc;
  margin: 0 auto;
  border: 1px solid red;
  padding: 0px;
}