@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  src: local('Jura Medium'), local('Jura-Medium'), url(/google-content.woff) format('woff');
}

// @import "dev_helpers";
@import "compass/css3";
@import "compass/utilities/text/replacement";
@import "compass/support";


html, body {
  height: 100%;
}

body {
  background: #0a1017 url("tunnel.jpg") no-repeat center top fixed;
  font-family: 'Jura', Helvetica, sans-serif;
}

$logo: "Josh-Software-Logo.svg";
@mixin transWhite($trans){
  background-color: rgba(255,255,255, $trans);
}
@mixin shadow {
  @include box-shadow(0 30px 30px -15px rgba(0, 0, 0, 0.6));
}

.row-fluid {
  .span {
    width: auto;
  }
}
.testimonial{
  width: 100% !important;
}

.min-height{
  min-height: 150px !important;
}
.align-up{
  margin-bottom: 6px;
}
#header {
  background: url("header_bkg.png") no-repeat center;
  width:100%;
  float:left;
  height:107px;
  min-height: 107px;
  margin-bottom:0;
  .wrap {
    position:relative;
    margin:0 auto;
    width:940px;
    .logo {
      a {
        @include replace-text($logo);
        display: block;
        width: 215px;
        height: 58px;
        margin-top: 10px;
        float: left;
      }
    }
    .main-menu {
      float: left;
      width: auto;
      margin: 25px 0 0 280px;
      font-size: 1.4em;
      a {
        color: #621003;
        padding-bottom:11px;
      }
    }
  }
}
.container {
  min-height: 100%;
  margin-bottom: -70px;
}

.footer{
  @include transWhite(0.8);
  @include shadow;
  margin-top : 20px;
  padding: 10px 0 0 10px;
  height: 40px;
  position:relative;
  line-height: 30px;
  // .twitter-follow-button {
  //   margin-top: 5px;
  // }
  // .fb-like {
  //   margin-top:3px;
  // }
  .footer-social-links {
    margin-right: 15px;
    a:hover {
      text-decoration: none;
    }
  }
}

.social-links {
  a:hover {
    text-decoration: none;
  }
}

.clear-footer {
  height: 50px;
  clear: both;
}
.align-center{
  text-align: center;
}
.splash {
  margin-top: -5px;
  margin-bottom: 10px;
  .splash-text {
    padding: 25px;
    p {
      text-align: justify;
      font-size: 1.1em;
      line-height: 1.3em;
      margin-bottom: 16px;
    }
    .expertize {
      font-size: 24px;
      color: #621003;
    }
  }
  .splash-gem {
    text-align: center;
    margin: 0;
    padding-top: 15px;
    img {
      width: 200px;
    }
  }
}

.sepatator {
  display: block;
  height: 5px;
  background: url('section-separator.png');
  margin:0 0 10px 0;
  @include shadow;
}

.product-callouts {
  margin-bottom: 20px;
}

.well {
  @include border-radius(0);
  border:0;
}
.well-trans {
  padding: 0;
  background: none;
  @include shadow;
  .top, .bottom {
    display: block;
    width: 100%;
    @include transWhite(0.35)
  }
  .top {
    height: 16px ;
    min-height: 16px ;
  }
  .bottom {
    height: 4px ;
    min-height: 4px ;
  }
  .center {
     @include transWhite(0.65)
  }
}

.well-home-callout {
  padding: 0;
  padding-top: 0;
  margin: 0;
  width: 280px;
  margin-left: 30px;
  background: none;
  
  @include shadow;
  .top {
    display:block;
    height: 16px;
    min-height: 16px;
    width:100%;
    @include transWhite(0.35)
  }
  
  .center {
    padding: 16px;
    background: url("70-trans-with-corner.png") no-repeat right bottom;
    min-height: 280px;
  }
  h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
    text-align: justify;
    line-height: 1.4em;
  }
  p.align-left {
    text-align: left !important;
  }
  .graphic {
    padding:0 0 10px 15px;
  }
}
.well-home-callout.first {
  margin-left: 0;
}


.thumbsmall {
  height: 100px;
  width: 100px;
}

.team-bios {
  @include shadow;
  padding: 30px;
  padding-top: 20px;
  background: url("70-trans-with-corner.png") no-repeat right bottom;
  width: 469px;
  position: absolute;
  .bio-text {
    margin-top: 20px;
  }
}

#opensource {
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .center {
    height: auto !important;
    min-height: 0px;
  }
  .left {
    margin-top: 5px;
  }
}

$portfolio_menu_width: 195px;
.portfolio-menu{
  position: relative;
  width: $portfolio_menu_width;
  .is-sticky {
    width:$portfolio_menu_width;
  }
  .center {
    padding: 15px;
    min-height: 260px;
    a {
      color: #000;
      font-size: 1.1em;
    }
    .top-link {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      margin-left: -15px;
    }
  }
}

.portfolio-site {
  width:720px;
  margin-bottom: 30px;
  .center {
    padding: 25px 35px;
    min-height: 240px;
    .screenshot {
      margin-right: 25px;
       min-height: 265px;
       margin-bottom: 0;
       width: 340px;
       background: url('portfolio-background.png') no-repeat;
       padding: 13px 0 0 12px;
    }
    .site-info {
      margin-left: 350px;
      .site-title {
        color:#a20f13;
        font-size: 1.15em;
        font-weight: bold;
      }
      .site-description {
        margin-top: 10px;
        min-height: 130px;
      }
      .geek-specs {
        b {
          font-size: 1em;
        }
      }
    }
  }
}





