/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.article-content-card {
  box-shadow: 6px 0px 10px #1270a817;
  border-radius: 12px;
  background-color: #ffffff; }
  .article-content-card:not(:first-child) {
    margin-top: 1.5rem; }
