@import "../../assets/stylesheets/core";

.article-content-card-item {
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(md) {
    padding: 0 1rem;
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include media-breakpoint-up(lg) {
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2.5rem;
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &.publication-content-wrapper {
    margin-bottom: 4.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 2.5rem;
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }

    .article-content {
      @include media-breakpoint-up(lg) {
        padding-right: 2.5rem;
      }
    }

    .card-img-wrap {
      img {
        width: 11.5rem;
      }
    }
  }
}

.article-content-card {
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.161);
  border-radius: 0.75rem;
  background-color: #ffffff;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3rem;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding: 3.5rem 1.5rem 3rem;
  }
}

.card-img-wrap {
  img {
    width: 11.5rem;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      width: 14.25rem;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-right: 4rem;
  }
}

.article-content {
  flex: 1;

  > a {
    h4 {
      font-size: 1.125rem;
      line-height: 1.625rem;
      color: #020449;
      margin-bottom: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $gray-20;
    text-align: justify;
  }
}

.book-info-details {
  flex-wrap: wrap;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-wrap: unset;
    flex-direction: unset;
    align-items: center;
  }

  .book-price-wrap {
    span {
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: #e86055;
    }
  }
}

.social-media-list {
  margin: 1rem -0.75rem 0;

  @include media-breakpoint-up(lg) {
    order: 2;
  }

  .social-media-item {
    padding: 0 0.75rem;
  }

  .social-media-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: inherit;
  }
}
