/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.article-content-card-item {
  margin-bottom: 1.5rem; }
  @media (min-width: 768px) {
    .article-content-card-item {
      padding: 0 1rem;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .article-content-card-item {
      padding: 0;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 2.5rem; } }
  @media (min-width: 992px) {
    .article-content-card-item:last-child {
      margin-bottom: 0; } }
  .article-content-card-item.publication-content-wrapper {
    margin-bottom: 4.5rem; }
    @media (min-width: 992px) {
      .article-content-card-item.publication-content-wrapper {
        margin-bottom: 2.5rem; } }
    @media (min-width: 992px) {
      .article-content-card-item.publication-content-wrapper:last-child {
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      .article-content-card-item.publication-content-wrapper .article-content {
        padding-right: 2.5rem; } }
    .article-content-card-item.publication-content-wrapper .card-img-wrap img {
      width: 11.5625rem; }

.article-content-card {
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.161);
  border-radius: 12px;
  background-color: #ffffff;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3rem; }
  @media (min-width: 992px) {
    .article-content-card {
      flex-direction: row;
      padding: 3.5rem 1.5rem 3rem; } }

.card-img-wrap img {
  width: 11.5rem;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .card-img-wrap img {
      width: 14.25rem; } }

@media (min-width: 992px) {
  .card-img-wrap {
    margin-right: 4rem; } }

.article-content {
  flex: 1; }
  .article-content > a h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #020449;
    margin-bottom: 1.5rem; }
    @media (min-width: 992px) {
      .article-content > a h4 {
        margin-bottom: 2rem; } }
  .article-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #020449; }

.book-info-details {
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 992px) {
    .book-info-details {
      flex-wrap: unset;
      flex-direction: unset;
      align-items: center; } }
  .book-info-details .book-price-wrap span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #e86055; }

.social-media-list {
  margin: 1rem -0.75rem 0; }
  @media (min-width: 992px) {
    .social-media-list {
      order: 2; } }
  .social-media-list .social-media-item {
    padding: 0 0.75rem; }
  .social-media-list .social-media-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: inherit; }
