/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.article-content-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
  border-radius: 12px;
  background-color: #ffffff;
  flex-direction: column;
  padding: 1.5rem 1.5rem 3rem;
  margin-bottom: 1.5rem;
  position: relative; }
  @media (min-width: 992px) {
    .article-content-card {
      flex-direction: row;
      margin-bottom: 2.5rem;
      padding: 3.5rem 1.5rem 3rem; } }
  @media (min-width: 992px) {
    .article-content-card:last-child {
      margin-bottom: 0; } }
  .article-content-card.publication-content-wrapper {
    margin-bottom: 4.5rem; }
    @media (min-width: 992px) {
      .article-content-card.publication-content-wrapper {
        margin-bottom: 2.5rem; } }
    @media (min-width: 992px) {
      .article-content-card.publication-content-wrapper:last-child {
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      .article-content-card.publication-content-wrapper .article-content {
        padding-right: 20%; } }
    .article-content-card.publication-content-wrapper .card-img-wrap img {
      width: 17.5rem;
      height: 14.0625rem; }
      @media (min-width: 992px) {
        .article-content-card.publication-content-wrapper .card-img-wrap img {
          width: 11.5625rem; } }

.card-img-wrap img {
  width: 11.5rem;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .card-img-wrap img {
      width: 14.25rem; } }

@media (min-width: 992px) {
  .card-img-wrap {
    margin-right: 4rem; } }

.article-content {
  flex: 1; }
  .article-content h4 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #020449;
    margin-bottom: 1.5rem; }
    @media (min-width: 992px) {
      .article-content h4 {
        margin-bottom: 2rem; } }
  .article-content p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #020449;
    min-height: 8.875rem; }
    @media (min-width: 992px) {
      .article-content p {
        min-height: 7.125rem; } }
