@import "../../assets/stylesheets/core";

.article-content-card-item {
  margin-bottom: rem(24px);
  @include media-breakpoint-up(md) {
    padding: 0 rem(16px);
    flex: 0 0 50%;
    max-width: 50%;
  }
  @include media-breakpoint-up(lg) {
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: rem(40px);
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &.publication-content-wrapper {
    margin-bottom: rem(72px);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(40px);
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }

    .article-content {
      margin-bottom: rem(80px);
      @include media-breakpoint-up(lg) {
        padding-right: 20%;
        margin-bottom: 0;
      }
    }

    .card-img-wrap {
      img {
        width: rem(185px);
      }
    }
  }
}
.article-content-card {
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.161);
  border-radius: 12px;
  background-color: #ffffff;
  flex-direction: column;
  padding: rem(24px) rem(24px) rem(48px);

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding: rem(56px) rem(24px) rem(48px);
  }
}

.card-img-wrap {
  img {
    width: rem(184px);
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      width: rem(228px);
    }
  }

  @include media-breakpoint-up(lg) {
    margin-right: rem(64px);
  }
}

.article-content {
  flex: 1;

  h4 {
    a {
      font-size: rem(18px);
      line-height: rem(26px);
      color: #020449;
      margin-bottom: rem(24px);

      @include media-breakpoint-up(lg) {
        margin-bottom: rem(32px);
      }
    }
  }

  p {
    font-size: rem(14px);
    line-height: rem(22px);
    color: #020449;
  }
}
