@import "../../assets/stylesheets/core";

.article-content-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
  border-radius: 12px;
  background-color: #ffffff;
  flex-direction: column;
  padding: rem(24px) rem(24px) rem(48px);
  margin-bottom: rem(24px);
  position: relative;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-bottom: rem(40px);
    padding: rem(56px) rem(24px) rem(48px);
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
  &.publication-content-wrapper {
    margin-bottom: rem(72px);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(40px);
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }

    .article-content {
      @include media-breakpoint-up(lg) {
        padding-right: 20%;
      }
    }

    .card-img-wrap {
      img {
        width: rem(280px);
        height: rem(225px);

        @include media-breakpoint-up(lg) {
          width: rem(185px);
        }
      }
    }
  }
}

.card-img-wrap {
  img {
    width: rem(184px);
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      width: rem(228px);
    }
  }

  @include media-breakpoint-up(lg) {
    margin-right: rem(64px);
  }
}

.article-content {
  flex: 1;

  h4 {
    font-size: rem(18px);
    line-height: rem(26px);
    color: #020449;
    margin-bottom: rem(24px);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(32px);
    }
  }

  p {
    font-size: rem(14px);
    line-height: rem(22px);
    color: #020449;
    min-height: rem(142px);

    @include media-breakpoint-up(lg) {
      min-height: rem(114px);
    }
  }
}
