@import "../../assets/stylesheets/core";

.about-us-box {
  background-color: $mortor;
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    height: 13.75rem;
    padding: 0.5rem 2rem;
  }

  h6,
  p {
    color: $white;
  }
  h6 {
    font-size: 1.3125rem;
    line-height: 2.3125rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.375rem;
    @include media-breakpoint-up(lg) {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  .btn.link-btn {
    @include media-breakpoint-up(lg) {
      font-size: 0.625rem;
      line-height: 0.6875rem;
    }
  }
}
