.josh-header {
  // height: rem(76px);
  background-color: #FFF;
  @include flexbox();
  @include align-items(center);
  // box-shadow: 0px 0px 69px -23px rgba(0,0,0,0.75);

  @include media-breakpoint-down(md) {
    height: rem(54px);
  }

  .navbar-brand {

    > img {
      // width: rem(216px);
      height: auto;

      @include media-breakpoint-down(md) {
        // width: rem(120px);
      }
    }
  }
}

.header-new {
  padding-left: 0px;
  // margin-left: -5px;
  // margin-top: -1px;
  // margin-top: -12px;
}

.josh-navbar {
  @include align-items(flex-end);
  padding: 0;

  @include media-breakpoint-down(md) {
    @include align-items(center);
    padding: 0 5px;

    .navbar-toggler:not(:disabled):not(.disabled) {
      font-size: rem(24px);
    }
  }

  .navbar-nav {

    .nav-link {
      color: #666666;
      font-size: rem(14px);
      font-weight: 300;
      text-transform: uppercase;
      padding: rem(5px 15px);
      // font-family: Barlow, regular;
      @include media-breakpoint-down(md) {
        font-size: rem(18px);
        color: $gray-20;
        padding: rem(10px 15px);
      }

      &.active {
        color: #333333;
        // font-weight: 700;
        border-bottom: 4px solid #CF4338;
      }

      @include media-breakpoint-down(sm) {
        &.active {
          color: #333333;
          font-weight: 700;
        }
      }

      // &:hover, &:focus {
      //   color: $gray-20;
      //   outline: 0;
      // }
    }

    .nav-offcanvas-link {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  .dropdown-toggle {

    &::after{
      margin-left: rem(8px);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .dropdown-menu {
    background-color: $white;
    border-radius: 0;
    border: 0 none;
    margin: rem(9px) 0 0;
    padding: rem(5px) 0;
    @include boxShadow(0 4px 8px 0 rgba(0,0,0,.07));

    @include media-breakpoint-down(md) {
      display: block;
      background-color: transparent;
      margin: 0;
      padding: rem(0 20px);
      @include boxShadow(none);
    }
  } 

  .dropdown-item {
    color: $gray-60;
    font-size: rem(14px);
    font-weight: 300;
    text-transform: uppercase;
    padding: rem(5px 15px);

    @include media-breakpoint-down(md) {
      color: $gray-20;
      font-size: rem(18px);
      padding: rem(10px 15px);
    }

    &:hover {
      background-color: transparent;
      color: $gray-20;
    }

    &.active {
      background-color: $gray-94;
      color: $gray-20;
      font-weight: 700;

      @include media-breakpoint-down(md) {
        background-color: transparent;
      }
    }
  }
}
.mb-10px{
  margin-bottom: -10px;
}