html {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}

body {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}

@include media-breakpoint-down(md) {
  .mobile-sidebar-header {
    background-color: #e86055;
    padding: 0.5rem 0;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: $white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
    @include boxShadow(0 6px 8px 0 rgba(0, 0, 0, 0.3));

    &.open {
      left: rem(80px);
      width: calc(100% - 80px);
      visibility: visible;
    }
  }
}

@include media-breakpoint-down(sm) {
  .offcanvas-collapse {
    &.open {
      left: unset;
      right: 0;
      width: 70%;
      visibility: visible;
    }
  }
}
