html {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}

body {
  /* Prevent scroll on narrow devices */
  overflow-x: hidden;
}

@include media-breakpoint-down(md) {
  .offcanvas-collapse {
    position: fixed;
    top: rem(28px); /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding: rem(20px 15px);
    overflow-y: auto;
    visibility: hidden;
    background-color: $white;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    @include boxShadow(0 6px 8px 0 rgba(0,0,0,.3));

    &.open {
      left: rem(80px);
      width: calc(100% - 80px);
      visibility: visible;
    }
  }
}

@include media-breakpoint-down(sm) {

  .offcanvas-collapse {

    &.open {
      left: 18%;
      width: 82%;
      visibility: visible;
    }
  }
}
