/* variables */
/* variables end */
/* mixins */
/* rem unit mixin */
/* flex Sass mixin */
/* mixins end */
.btn.link-btn {
  background-color: #e86055;
  border-radius: 0;
  border-left: 17px solid #000;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: auto;
  min-width: 7.6875rem;
  font-size: 0.875rem;
  line-height: 1.1875rem; }
  @media (min-width: 992px) {
    .btn.link-btn {
      font-size: 1.125rem;
      line-height: 1.5rem; } }
  .btn.link-btn.active, .btn.link-btn:active, .btn.link-btn:hover, .btn.link-btn:focus {
    background-color: #e86055;
    border-left: 17px solid #000;
    border-top: none;
    border-bottom: none;
    border-right: none;
    box-shadow: none;
    outline: none; }
