!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Ruby on Rails Development India  | JOSH SOFTWARE PVT. LTD.
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #header
      .wrap
        .logo
          %a{:href => "/"} Josh Software Pvt. Ltd
        .main-menu
          %ul.nav.nav-pills
            %li
              %a{:href => "portfolio.html"} portfolio
            %li
              %a{:href => "team.html"} team
            %li
              %a{:href => "#"} open source
    .container
      = yield
      .clear-footer
    .footer
      .center
        Copyright © 2010 Josh Software Pvt. Ltd
