!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    - if content_for? :title
      %title 
        = yield(:title)
    - else
      %title Ruby on Rails experts in India | Josh Software Private Limited 
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    #header
      .wrap
        .logo
          %a{:href => "/"} Josh Software Pvt. Ltd.
        .main-menu
          %ul.nav.nav-pills
            %li
              %a{:href => "portfolio"} portfolio
            %li
              %a{:href => "team"} team
            %li
              %a{:href => "open_source"} open source
            %li
              %a{:href => "http://blog.joshsoftware.com", :target => "_blank"} blog
    .container
      = yield
      .clear-footer
    .footer
      .pull-right.footer-social-links
        //twitter
        %a{:href => "https://twitter.com/joshsoftware", :target => "_blank", :title => 'Follow us @joshsoftware'}
          %img{:src => 'assets/glyphicons_392_twitter.png'}
        //facebook
        %a{:href => "https://facebook.com/joshsoftware", :target => "_blank", :title => 'Visit our Facebook Page'}
          %img{:src => 'assets/glyphicons_390_facebook.png'}
        //blog subscripe
        %a{:href => "http://blog.joshsoftware.com", :target => "_blank", :title => 'Subscribe to our blog'}
          %img{:src => 'assets/glyphicons_397_rss.png'}
        //linkedin
        %a{:href => "http://www.linkedin.com/company/josh-software-private-limited", :target => "_blank", :title => 'Visit our LinkedIn Page'}
          %img{:src => 'assets/glyphicons_377_linked_in.png'}
      .center
        Copyright &copy; 2012 Josh Software Pvt. Ltd.
//Google analytics
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
try {
var pageTracker = _gat._getTracker("UA-293708-3");
pageTracker._trackPageview();
} 
catch(err) {}
</script>
